Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, test-role-deb_url, test-role-interactive, test-role-motd, test-role-require, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url

Path conditions:
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-require: any of: ansible/roles/require/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*

Do not create swap partition on VM disk
  packer/debian10/preseed.cfg
Due: none

Change default motd warning
  ansible/roles/motd/defaults/main.yml
Due: test-role-motd

Manage extra packages not handled by other roles
  .gitlab-ci.yml
  ansible/README.md
  ansible/roles/packages/README.md
  ansible/roles/packages/defaults/main.yml
  ansible/roles/packages/molecule/default/molecule.yml
  ansible/roles/packages/molecule/default/playbook.yml
  ansible/roles/packages/molecule/default/verify.yml
  ansible/roles/packages/tasks/main.yml
Due: none

Highlight 'Sort by' column
  dotfiles/top/toprc.link
Due: none

Windows 10 packer template
  packer/windows10/Makefile
  packer/windows10/README.md
  packer/windows10/packer.yml
Due: none

Preseed configuration for Windows Installer
  packer/windows10/autounattend.xml
Due: none

Configure WinRM with a script
  packer/windows10/autounattend.xml
  packer/windows10/packer.yml
  packer/windows10/winrm.ps1
Due: none

Install more drivers for Qemu/KVM
  packer/windows10/Makefile
  packer/windows10/autounattend.xml
  packer/windows10/packer.yml
Due: none

Add qemu-img to test environment
  packer/.test-environment/Makefile
Due: none

Validation requires drivers directory to exist
  packer/windows10/Makefile
Due: none

Prepare a test environment for Packer builds
  packer/.test-environment/Makefile
Due: none

Sample qemu command line to test created image
  packer/windows10/packer.yml
Due: none

Fix validation error in WindowsPE section
  packer/windows10/autounattend.xml
Due: none

Fix initial script invocation
  packer/windows10/autounattend.xml
  packer/windows10/initialize.ps1
  packer/windows10/packer.yml
Due: none

Install interactive tools on test machine
  packer/.test-environment/Makefile
Due: none

Fine tune KVM configuration for Packer
  packer/windows10/packer.yml
Due: none

Skip remaining interactive setup screens
  packer/windows10/autounattend.xml
Due: none

Choose Windows edition non-interactively
  packer/windows10/autounattend.xml
Due: none

Remove packer cache when doing clean up
  packer/Makefile.packer
Due: none

Add cmake to test environment
  packer/.test-environment/Makefile
Due: none

Conform to the limit on hostname length
  packer/windows10/autounattend.xml
Due: none

Clean up intermediate files before starting the build
  packer/windows10/Makefile
Due: none

Add windows10 template description
  packer/README.md
Due: none

Do not use 'become' with unprivileged user
  ansible/roles/interactive/tasks/main.yml
Due: test-role-interactive

Test mediabox playbook
  .gitlab-ci.yml
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
Due: none

Use real paths in mediabox playbook
  ansible/mediabox.yml
Due: none

Remove unnecessary heading
  ansible/README.md
Due: none

Specify ratio limit in role variables
  ansible/mediabox.yml
  ansible/roles/transmission/templates/settings.json.j2
Due: test-role-transmission, test-role-transmission-deb_url

Draft full mediabox playbook
  ansible/mediabox.yml
Due: none

Add minimal required tests for mediabox instance
  ansible/tests/playbook-tests/molecule/mediabox/verify.yml
Due: none

Fix duplicated path value
  ansible/mediabox.yml
Due: none

Move --config-dir to the beginning of cmdline
  ansible/roles/transmission/templates/daemon.service.j2
Due: test-role-transmission, test-role-transmission-deb_url

Firewall configuration was checked
  ansible/TODO.md
Due: none

Clean up samba configuration file
  ansible/roles/samba/templates/samba.conf.j2
Due: test-role-samba

Ignore client locale when connecting via ssh
  ansible/roles/server/tasks/locale.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url

Some hardware-specific configuration for mediabox
  ansible/mediabox-hw.yml
Due: none

Update TODO list
  ansible/TODO.md
Due: none

Use more descriptive name for DLNA server
  ansible/roles/gerbera/templates/config-buster.xml
Due: test-role-gerbera

Remove tcp_tw_recycle from kernel parameters
  ansible/roles/torrents_sysctl/files/sysctl.yml
  ansible/roles/torrents_sysctl/tasks/main.yml
Due: test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url
