Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-interactive, test-role-motd, test-role-packages, test-role-require, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

test-role-canary:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-canon_mf3010:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-deb_url:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-interactive:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-motd:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

Show timestamp at the beginning of playbook run
  ansible/Makefile
Due: none

Add patch for applying preseed.cfg to bare metal
  packer/debian10/Makefile
  packer/debian10/baremetal.patch
Due: test-role-virtual_machine

Use proper patch format
  packer/debian10/Makefile
  packer/debian10/baremetal.patch
Due: test-role-virtual_machine

Use one recipe for different patches
  packer/debian10/Makefile
Due: test-role-virtual_machine

Add support for EFI machines
  packer/debian10/Makefile
  packer/debian10/baremetal-efi.patch
  packer/debian10/baremetal.patch
Due: test-role-virtual_machine

Add patches for applying autounattend to baremetal
  packer/windows10/baremetal-efi.patch
  packer/windows10/baremetal.patch
Due: none

Add max prime 20000 (pretty common on the web)
  Makefile
Due: none

Configure homelab machines (baremetal layer)
  ansible/lab.yml
Due: none

Add Makefile target for shutting computers down
  ansible/Makefile
  ansible/shutdown.yml
Due: none

Apply more roles to lab machines
  ansible/lab.yml
Due: none

Create playbook stubs for individual machines
  ansible/labjay.yml
  ansible/labtee.yml
Due: none

Enable wake-on-lan on lab machines
  ansible/lab.yml
Due: none

Describe required inventory variables for lab machines
  ansible/lab.yml
Due: none

Show WoL interface name in debug message
  ansible/roles/wol/tasks/main.yml
Due: none

Deduplicate wake-up code - consolidate to wakeup.yml
  ansible/lab.yml
  ansible/labjay.yml
  ansible/labtee.yml
  ansible/shutdown.yml
  ansible/wakeup.yml
Due: none

Allow importing this play multiple times from one playbook
  ansible/wakeup.yml
Due: none

Do not use reserved playbook keywords as var names
  ansible/lab.yml
  ansible/labjay.yml
  ansible/labtee.yml
  ansible/shutdown.yml
  ansible/wakeup.yml
Due: none

Do not report successful shutdown as error
  ansible/shutdown.yml
Due: none

Clean up shutdown.yml with StackOverflow wisdom
  ansible/shutdown.yml
Due: none

Move on to newer (non-broken) ansible-lint
  ansible/roles/gerbera/tasks/main.yml
  ansible/tests/requirements.txt
Due: test-role-gerbera, test-playbook-mediabox

Specify mode when creating files/directories
  ansible/roles/canary/tasks/main.yml
  ansible/roles/canon_mf3010/tasks/drivers.yml
  ansible/roles/motd/tasks/main.yml
Due: test-role-canary, test-role-canon_mf3010, test-role-motd, test-playbook-mediabox, test-playbook-printer

Migrate to Molecule v3
  ansible/roles/canary/molecule/default/molecule.yml
  ansible/roles/canon_mf3010/molecule/default/molecule.yml
  ansible/roles/gerbera/molecule/default/molecule.yml
  ansible/roles/kvm_bridge/molecule/default/molecule.yml
  ansible/roles/morebooks/molecule/default/molecule.yml
  ansible/roles/munin_fdcount/molecule/default/molecule.yml
  ansible/roles/munin_master/molecule/default/molecule.yml
  ansible/roles/munin_smart/molecule/default/molecule.yml
  ansible/roles/packages/molecule/default/molecule.yml
  ansible/roles/samba/molecule/default/molecule.yml
  ansible/roles/server/molecule/default/molecule.yml
  ansible/roles/sshkey/molecule/default/molecule.yml
  ansible/roles/supysonic/molecule/combination-munin/molecule.yml
  ansible/roles/supysonic/molecule/default/molecule.yml
  ansible/roles/torrents_sysctl/molecule/default/molecule.yml
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
  ansible/roles/transmission/molecule/default/molecule.yml
  ansible/roles/virtual_machine/molecule/DESTRUCTIVE/molecule.yml
  ansible/roles/virtual_machine/molecule/default/molecule.yml
  ansible/roles/virtual_usb/molecule/default/molecule.yml
  ansible/roles/wireguard/molecule/default/molecule.yml
  ansible/roles/wol/molecule/default/molecule.yml
  ansible/tests/Makefile
  ansible/tests/molecule.yml
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
  ansible/tests/playbook-tests/molecule/playground/molecule.yml
  ansible/tests/playbook-tests/molecule/printer/molecule.yml
  ansible/tests/requirements.txt
  ansible/tests/yamllint.yml
Due: test-role-canary, test-role-canon_mf3010, test-role-packages, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

Avoid repetitive env lookups
  ansible/roles/gerbera/molecule/default/playbook.yml
  ansible/roles/interactive/molecule/default/playbook.yml
  ansible/roles/morebooks/molecule/default/playbook.yml
  ansible/roles/munin_fdcount/molecule/default/playbook.yml
  ansible/roles/munin_master/molecule/default/playbook.yml
  ansible/roles/munin_smart/molecule/default/playbook.yml
  ansible/roles/samba/molecule/default/playbook.yml
  ansible/roles/server/molecule/default/playbook.yml
  ansible/roles/sshkey/molecule/default/playbook.yml
  ansible/roles/sshkey/molecule/default/prepare.yml
  ansible/roles/sshkey/molecule/default/verify.yml
  ansible/roles/supysonic/molecule/combination-munin/playbook.yml
  ansible/roles/supysonic/molecule/default/playbook.yml
  ansible/roles/transmission/molecule/combination-deb_url/playbook.yml
  ansible/roles/transmission/molecule/default/playbook.yml
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
  ansible/tests/playbook-tests/molecule/laptopmini/prepare.yml
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
  ansible/tests/playbook-tests/molecule/playground/molecule.yml
  ansible/tests/playbook-tests/molecule/printer/molecule.yml
Due: test-role-interactive, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox, test-playbook-printer

Fix templating error when checking asserts from Molecule
  ansible/roles/sshkey/meta/main.yml
  ansible/roles/sshkey/tasks/assert.yml
  ansible/roles/sshkey/tasks/main.yml
Due: none

Use yaml callback for tests by default
  ansible/tests/Makefile
Due: none

Explicitly update package list when managing server
  ansible/roles/server/tasks/packages.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox, test-playbook-printer

Provide explicit mode for files/dirs
  ansible/roles/initrd/tasks/main.yml
  ansible/roles/kvm_bridge/tasks/main.yml
  ansible/roles/morebooks/molecule/default/prepare.yml
  ansible/roles/morebooks/tasks/restore.yml
  ansible/roles/samba/tasks/main.yml
  ansible/roles/supysonic/molecule/combination-munin/prepare.yml
  ansible/roles/supysonic/molecule/default/prepare.yml
  ansible/roles/supysonic/tasks/supysonic.yml
  ansible/roles/transmission/tasks/install.yml
  ansible/roles/virtual_machine/tasks/main.yml
  ansible/roles/virtual_usb/tasks/main.yml
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox

Do not cache VENVDIR on GitLab CI
  .gitlab-ci.yml
Due: none

Install OpenSSL bindings for both system Pythons
  ansible/roles/morebooks/molecule/default/prepare.yml
  ansible/roles/supysonic/molecule/combination-munin/prepare.yml
  ansible/roles/supysonic/molecule/default/prepare.yml
Due: test-role-morebooks, test-role-supysonic, test-role-supysonic-munin, test-playbook-mediabox

Do not try to use outdated apt cache
  ansible/roles/virtual_machine/tasks/main.yml
Due: test-role-virtual_machine

Add python3 versions of required packages
  ansible/roles/morebooks/defaults/main.yml
  ansible/roles/virtual_machine/tasks/main.yml
Due: test-role-morebooks, test-role-virtual_machine

Fix lint error (missing directory mode)
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
Due: test-playbook-mediabox

Add python3 version of OpenSSL bindings
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
Due: test-playbook-mediabox

Remove redundant Vagrant configuration
  ansible/roles/gerbera/molecule/default/molecule.yml
  ansible/roles/kvm_bridge/molecule/default/molecule.yml
  ansible/roles/morebooks/molecule/default/molecule.yml
  ansible/roles/munin_fdcount/molecule/default/molecule.yml
  ansible/roles/munin_master/molecule/default/molecule.yml
  ansible/roles/munin_smart/molecule/default/molecule.yml
  ansible/roles/samba/molecule/default/molecule.yml
  ansible/roles/server/molecule/default/molecule.yml
  ansible/roles/supysonic/molecule/combination-munin/molecule.yml
  ansible/roles/supysonic/molecule/default/molecule.yml
  ansible/roles/torrents_sysctl/molecule/default/molecule.yml
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
  ansible/roles/transmission/molecule/default/molecule.yml
  ansible/roles/virtual_machine/molecule/default/molecule.yml
  ansible/roles/virtual_usb/molecule/default/molecule.yml
  ansible/roles/wireguard/molecule/default/molecule.yml
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
  ansible/tests/playbook-tests/molecule/playground/molecule.yml
  ansible/tests/playbook-tests/molecule/printer/molecule.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

Do not use specific hostnames in converge step
  ansible/roles/canary/molecule/default/playbook.yml
  ansible/roles/canon_mf3010/molecule/default/playbook.yml
  ansible/roles/deb_url/molecule/default/playbook.yml
  ansible/roles/gerbera/molecule/default/playbook.yml
  ansible/roles/interactive/molecule/default/playbook.yml
  ansible/roles/kvm_bridge/molecule/default/playbook.yml
  ansible/roles/morebooks/molecule/default/playbook.yml
  ansible/roles/motd/molecule/default/playbook.yml
  ansible/roles/munin_fdcount/molecule/default/playbook.yml
  ansible/roles/munin_master/molecule/default/playbook.yml
  ansible/roles/munin_smart/molecule/default/playbook.yml
  ansible/roles/packages/molecule/default/playbook.yml
  ansible/roles/samba/molecule/default/playbook.yml
  ansible/roles/server/molecule/default/playbook.yml
  ansible/roles/sshkey/molecule/default/playbook.yml
  ansible/roles/supysonic/molecule/combination-munin/playbook.yml
  ansible/roles/supysonic/molecule/default/playbook.yml
  ansible/roles/torrents_sysctl/molecule/default/playbook.yml
  ansible/roles/transmission/molecule/combination-deb_url/playbook.yml
  ansible/roles/transmission/molecule/default/playbook.yml
  ansible/roles/unattended/molecule/default/playbook.yml
  ansible/roles/virtual_machine/molecule/default/playbook.yml
  ansible/roles/virtual_usb/molecule/default/playbook.yml
  ansible/roles/wireguard/molecule/default/playbook.yml
  ansible/roles/wol/molecule/default/playbook.yml
Due: test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-interactive, test-role-motd, test-role-packages, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

Do not hardcode hostname when verifying configuration
  ansible/roles/gerbera/molecule/default/verify.yml
  ansible/roles/morebooks/molecule/default/verify.yml
  ansible/roles/munin_master/molecule/default/verify.yml
  ansible/roles/samba/molecule/default/verify.yml
  ansible/roles/supysonic/molecule/combination-munin/verify.yml
  ansible/roles/supysonic/molecule/default/verify.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_master, test-role-supysonic, test-role-supysonic-munin, test-playbook-mediabox

Add docker images for Debian 11
  .gitlab-ci.yml
  ansible/tests/Dockerfile.debian-11
  ansible/tests/Dockerfile.debian-11-systemd
Due: none

Create symlink for /sbin/init on Bullseye
  ansible/tests/Dockerfile.debian-11-systemd
Due: none

Automate repacking modified Debian installer iso
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Path conditions:
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-require: any of: ansible/roles/require/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
