Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-interactive, test-role-motd, test-role-packages, test-role-require, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

Path conditions:
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-require: any of: ansible/roles/require/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*

Trim whitespace when showing public key
  ansible/roles/wireguard/tasks/main.yml
Due: none

Retry VPN interface setup after failure
  ansible/roles/wireguard/tasks/main.yml
Due: none

Do not overwrite the name of physical interface on subsequent runs
  ansible/roles/wireguard/tasks/main.yml
  ansible/roles/wireguard/templates/server.conf
Due: none

Disable unit overlay temporarily
  ansible/roles/wireguard/tasks/main.yml
Due: none

Store previous versions of config files
  ansible/roles/wireguard/tasks/main.yml
Due: none

Do not allow wireguard to modify its config
  ansible/roles/wireguard/templates/server.conf
Due: none

Add unique firewall mark to wireguard packets
  ansible/roles/wireguard/templates/server.conf
Due: none

Fix systemd override config
  ansible/roles/wireguard/tasks/main.yml
Due: none

Cleanup script for partial morebooks downloads
  scripts/cleanup_partial_archives.sh
Due: none

Trim whitespace from PrivateKey in client.conf
  ansible/roles/wireguard/templates/client.conf
Due: none

Add links to external Wireguard guides
  ansible/roles/wireguard/README.md
Due: none

Enable IP forwarding (optional)
  ansible/roles/wireguard/defaults/main.yml
  ansible/roles/wireguard/tasks/main.yml
Due: none

Add TODO list for wireguard role
  ansible/roles/wireguard/README.md
Due: none

Do not set up NAT for Wireguard clients by default
  ansible/roles/wireguard/defaults/main.yml
  ansible/roles/wireguard/templates/server.conf
Due: none

Move ask_vault_pass from global config to Makefile
  ansible/Makefile
  dotfiles/ansible/ansible.cfg.link
Due: none

Add workaround for duplicate GRUB_CMDLINEs
  ansible/roles/grub/tasks/main.yml
Due: none

Enable automated tests for laptopmini.yml
  .gitlab-ci.yml
  ansible/README.md
Due: none

Add verification playbook to laptopmini
  ansible/tests/playbook-tests/molecule/laptopmini/verify.yml
Due: none

Set default designated location for host config override
  dotfiles/bash/bashrc.copy
Due: none

Mention minimum required Jinja version
  ansible/roles/grub/tasks/main.yml
Due: none

Move package lists to ansible playbook
  .gitlab-ci.yml
  README.md
  ansible/laptopmini.yml
  packages/README.md
  packages/debian.common
  packages/debian.desktop
  packages/debian.laptop
  packages/debian.server
Due: none

Create interactive user on laptop
  .gitlab-ci.yml
  ansible/laptopmini.yml
Due: none

Enable munin node on laptopmini
  .gitlab-ci.yml
  ansible/laptopmini.yml
  ansible/mediabox.yml
Due: test-playbook-mediabox

Do not try to install obsolete package
  ansible/laptopmini.yml
Due: none

Enable non-free repo on laptopmini
  ansible/laptopmini.yml
Due: none

Provide SSH key for test instance
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
Due: none

User module requires password value to be hashed
  ansible/roles/server/tasks/security.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox, test-playbook-printer

Create snakeoil cert for default SSL page
  ansible/roles/morebooks/defaults/main.yml
Due: test-role-morebooks

Describe migration to Hetzner
  ansible/roles/morebooks/README.migration.md
Due: test-role-morebooks

Enable kernel same page merging on hypervisor
  ansible/roles/virtual_machine/tasks/main.yml
Due: test-role-virtual_machine

Test virtual_machine role in nested VM
  .gitlab-ci.yml
  ansible/roles/virtual_machine/molecule/default/molecule.yml
  ansible/roles/virtual_machine/molecule/default/playbook.yml
  ansible/roles/virtual_machine/molecule/default/verify.yml
Due: test-role-virtual_machine

Show whether nested virtualization is supported
  .cirrus.yml.j2
Due: none

Hope that nested virtualization is allowed
  ansible/roles/virtual_machine/molecule/default/molecule.yml
Due: test-role-virtual_machine

Install Python bindings for libvirt on hypervisor
  ansible/roles/virtual_machine/tasks/main.yml
Due: test-role-virtual_machine

Reboot immediately before proceeding with the rest of playbook
  ansible/roles/kvm_bridge/tasks/main.yml
Due: test-role-kvm_bridge, test-role-virtual_machine

Use simpler network configuration for test instance
  ansible/roles/virtual_machine/molecule/default/molecule.yml
Due: test-role-virtual_machine

Elevate privileges for verification playbook
  ansible/roles/virtual_machine/molecule/default/verify.yml
Due: test-role-virtual_machine

Update CI setup description for virtual_machine role
  ansible/README.md
Due: none

Initramfs should be managed with Ansible, not dotfiles
  dotfiles/initramfs-kms-intel/README.md
  dotfiles/initramfs-kms-intel/dotfiles.meta
  dotfiles/initramfs-kms-intel/modules.append
  dotfiles/initramfs-zswap/README.md
  dotfiles/initramfs-zswap/dotfiles.meta
  dotfiles/initramfs-zswap/modules.append
Due: none

Remove unused dotfiles topic
  dotfiles/modprobe-nouveau/README.md
  dotfiles/modprobe-nouveau/disable-nouveau.conf.link
  dotfiles/modprobe-nouveau/dotfiles.meta
Due: none
