Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-interactive, test-role-motd, test-role-packages, test-role-require, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

test-role-canary:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-canon_mf3010:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-deb_url:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-interactive:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-motd:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

Fix syntax error
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Fix unpacking command to actually work
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Move env-check dependencies to actual working recipes
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Use dynamic paths to isolinux files
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Generate checksum for output image also
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Clean up checksum files along with output image
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Add boot recipe for testing new image
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Use more descriptive name for ISO_MBR_HEADER
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Test with EFI boot enabled
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Expand options according to Debian Wiki
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Avoid circular references when calculating checksums
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Add preseed.cfg to initrd
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Emulate USB device instead of CDROM
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Apply recursive patch to installer CD image
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Do not create *.orig files
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Automatically create preseed file
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Optionally create virtual disk for testing boot
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Patch Debian 10 installer with preseed menu entry
  packer/debian10/isorepack/debian-10.patch
Due: test-role-virtual_machine

Ignore USB stick when detecting which disk to install on
  packer/debian10/baremetal.patch
Due: test-role-virtual_machine

Use unified EFI variable across both Makefiles
  packer/debian10/Makefile
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Add shortcut for Debian Stable image
  packer/debian10/isorepack/Makefile
Due: test-role-virtual_machine

Fix syntax error in variable reference
  packer/debian10/Makefile
Due: test-role-virtual_machine

Reverse conditional to aviod non-zero exit code
  packer/debian10/baremetal.patch
Due: test-role-virtual_machine

Remove trailing backslash after the end of command
  packer/debian10/baremetal.patch
Due: test-role-virtual_machine

Start OS installation without user input
  packer/debian10/isorepack/debian-10.patch
Due: test-role-virtual_machine

Halt after installation is complete
  packer/debian10/baremetal.patch
Due: test-role-virtual_machine

Detach isorepack from debian10 directory
  packer/isorepack/Makefile
  packer/isorepack/debian-10.patch
Due: none

Debian 10.6 was released
  packer/debian10/packer.yml
Due: test-role-virtual_machine

Allow any location for debian ISO
  packer/isorepack/Makefile
Due: none

Run docker tests against next Debian release
  ansible/roles/canary/molecule/default/molecule.yml
  ansible/roles/canon_mf3010/molecule/default/molecule.yml
  ansible/roles/deb_url/molecule/default/molecule.yml
  ansible/roles/interactive/molecule/default/molecule.yml
  ansible/roles/motd/molecule/default/molecule.yml
  ansible/roles/packages/molecule/default/molecule.yml
  ansible/roles/sshkey/molecule/default/molecule.yml
  ansible/roles/unattended/molecule/default/molecule.yml
  ansible/roles/wol/molecule/default/molecule.yml
Due: test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-interactive, test-role-motd, test-role-packages, test-role-unattended, test-role-transmission-deb_url, test-playbook-mediabox, test-playbook-printer

Test with packages that are compatible with all Debian releases
  ansible/roles/deb_url/molecule/default/playbook.yml
  ansible/roles/deb_url/molecule/tests/test_role.py
Due: test-role-deb_url, test-role-transmission-deb_url, test-playbook-mediabox

Clean up stdout output
  ansible/roles/deb_url/tasks/main.yml
Due: test-role-deb_url, test-role-transmission-deb_url, test-playbook-mediabox

Run Vagrant tests against next Debian release
  .cirrus.yml.j2
  ansible/roles/gerbera/molecule/default/molecule.yml
  ansible/roles/kvm_bridge/molecule/default/molecule.yml
  ansible/roles/morebooks/molecule/default/molecule.yml
  ansible/roles/munin_fdcount/molecule/default/molecule.yml
  ansible/roles/munin_master/molecule/default/molecule.yml
  ansible/roles/munin_smart/molecule/default/molecule.yml
  ansible/roles/samba/molecule/default/molecule.yml
  ansible/roles/server/molecule/default/molecule.yml
  ansible/roles/supysonic/molecule/combination-munin/molecule.yml
  ansible/roles/supysonic/molecule/default/molecule.yml
  ansible/roles/torrents_sysctl/molecule/default/molecule.yml
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
  ansible/roles/transmission/molecule/default/molecule.yml
  ansible/roles/virtual_machine/molecule/default/molecule.yml
  ansible/roles/virtual_usb/molecule/default/molecule.yml
  ansible/roles/wireguard/molecule/default/molecule.yml
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
  ansible/tests/playbook-tests/molecule/playground/molecule.yml
  ansible/tests/playbook-tests/molecule/printer/molecule.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

Force python3 on test instances
  ansible/tests/molecule.yml
Due: none

Remove duplicated provisioner definitions
  ansible/roles/canary/molecule/default/molecule.yml
  ansible/roles/canon_mf3010/molecule/default/molecule.yml
  ansible/roles/deb_url/molecule/default/molecule.yml
  ansible/roles/gerbera/molecule/default/molecule.yml
  ansible/roles/interactive/molecule/default/molecule.yml
  ansible/roles/kvm_bridge/molecule/default/molecule.yml
  ansible/roles/morebooks/molecule/default/molecule.yml
  ansible/roles/motd/molecule/default/molecule.yml
  ansible/roles/munin_fdcount/molecule/default/molecule.yml
  ansible/roles/munin_master/molecule/default/molecule.yml
  ansible/roles/munin_smart/molecule/default/molecule.yml
  ansible/roles/packages/molecule/default/molecule.yml
  ansible/roles/samba/molecule/default/molecule.yml
  ansible/roles/server/molecule/default/molecule.yml
  ansible/roles/sshkey/molecule/default/molecule.yml
  ansible/roles/supysonic/molecule/combination-munin/molecule.yml
  ansible/roles/supysonic/molecule/default/molecule.yml
  ansible/roles/torrents_sysctl/molecule/default/molecule.yml
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
  ansible/roles/transmission/molecule/default/molecule.yml
  ansible/roles/unattended/molecule/default/molecule.yml
  ansible/roles/virtual_machine/molecule/DESTRUCTIVE/molecule.yml
  ansible/roles/virtual_machine/molecule/default/molecule.yml
  ansible/roles/virtual_usb/molecule/default/molecule.yml
  ansible/roles/wireguard/molecule/default/molecule.yml
  ansible/roles/wol/molecule/default/molecule.yml
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
  ansible/tests/playbook-tests/molecule/playground/molecule.yml
  ansible/tests/playbook-tests/molecule/printer/molecule.yml
Due: test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-interactive, test-role-motd, test-role-packages, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

Force update package lists
  ansible/mediabox-hw.yml
  ansible/roles/canon_mf3010/tasks/cups.yml
  ansible/roles/gerbera/tasks/main.yml
  ansible/roles/interactive/tasks/main.yml
  ansible/roles/kvm_bridge/tasks/main.yml
  ansible/roles/morebooks/molecule/default/prepare.yml
  ansible/roles/morebooks/tasks/os.yml
  ansible/roles/munin_master/tasks/main.yml
  ansible/roles/munin_node/tasks/main.yml
  ansible/roles/munin_smart/tasks/main.yml
  ansible/roles/packages/tasks/main.yml
  ansible/roles/samba/tasks/main.yml
  ansible/roles/server/tasks/locale.yml
  ansible/roles/supysonic/molecule/combination-munin/prepare.yml
  ansible/roles/supysonic/molecule/default/prepare.yml
  ansible/roles/supysonic/tasks/install.yml
  ansible/roles/torrents_sysctl/tasks/main.yml
  ansible/roles/transmission/tasks/install.yml
  ansible/roles/unattended/tasks/main.yml
  ansible/roles/virtual_machine/molecule/DESTRUCTIVE/playbook.yml
  ansible/roles/wireguard/tasks/main.yml
  ansible/roles/wol/tasks/main.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
Due: test-role-canon_mf3010, test-role-interactive, test-role-packages, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

Drop Python2 packages
  ansible/roles/morebooks/defaults/main.yml
  ansible/roles/morebooks/molecule/default/prepare.yml
  ansible/roles/server/defaults/main.yml
  ansible/roles/supysonic/molecule/combination-munin/prepare.yml
  ansible/roles/supysonic/molecule/default/prepare.yml
  ansible/roles/supysonic/tasks/install.yml
  ansible/roles/virtual_machine/tasks/main.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

Drop CI cache for Vagrant boxes
  .cirrus.yml.j2
Due: none

Do not repeat locale twice if it matches the default
  ansible/roles/server/tasks/locale.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox, test-playbook-printer

Do not try to install patched Transmission on Bullseye
  ansible/mediabox.yml
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
Due: test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Path conditions:
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-require: any of: ansible/roles/require/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
