Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-interactive, test-role-motd, test-role-packages, test-role-require, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

Path conditions:
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-require: any of: ansible/roles/require/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*

Use the same config in Debian 11
  ansible/roles/gerbera/templates/config-bullseye.xml
Due: test-role-gerbera, test-playbook-mediabox

Try to run tests with 4G of memory for faster scheduling
  .cirrus.yml.j2
Due: none

Maintain a single list of playground packages
  ansible/group_vars/all.yml
  ansible/lab.yml
  ansible/playground.yml
Due: none

Do not install recommended packages in bulk
  ansible/lab.yml
  ansible/playground.yml
Due: none

Avoid rebooting after configuring bridge
  ansible/roles/kvm_bridge/README.md
  ansible/roles/kvm_bridge/handlers/main.yml
  ansible/roles/kvm_bridge/tasks/main.yml
Due: test-role-kvm_bridge, test-role-virtual_machine

Disable CI for Bullseye temporarily
  ansible/tests/playbook-tests/molecule/playground/molecule.yml
Due: none

Allow overriding Gerbera config template
  ansible/roles/gerbera/defaults/main.yml
  ansible/roles/gerbera/molecule/default/playbook.yml
  ansible/roles/gerbera/tasks/main.yml
Due: test-role-gerbera, test-playbook-mediabox

Plan playground.yml deprecation
  ansible/playground.yml
Due: none

Increase CI runner RAM for virtual machine role
  .cirrus.yml.j2
  .gitlab-ci.yml
Due: none

Install ifup along with bridge utils
  ansible/roles/kvm_bridge/tasks/main.yml
Due: test-role-kvm_bridge, test-role-virtual_machine

Do not use systemd ifup@ unit
  ansible/roles/kvm_bridge/defaults/main.yml
  ansible/roles/kvm_bridge/handlers/main.yml
  ansible/roles/kvm_bridge/tasks/main.yml
Due: test-role-kvm_bridge, test-role-virtual_machine

Remove unused DESTRUCTIVE test scenario
  ansible/roles/virtual_machine/molecule/DESTRUCTIVE/molecule.yml
  ansible/roles/virtual_machine/molecule/DESTRUCTIVE/playbook.yml
  ansible/roles/virtual_machine/molecule/DESTRUCTIVE/verify.yml
Due: test-role-virtual_machine

Ensure that we have tests for all supported platforms
  ansible/tests/Makefile
Due: none

Do not accept lines that were commented out
  ansible/tests/Makefile
Due: none

Use non-default repo to avoid being banned by CDN
  ansible/roles/virtual_machine/molecule/default/prepare.yml
Due: test-role-virtual_machine

Use yaml output when running playbooks
  ansible/Makefile
Due: none

Deprecate playground.yml in favor of lab.yml
  .gitlab-ci.yml
  ansible/lab.yml
  ansible/playground.yml
  ansible/tests/playbook-tests/molecule/lab/molecule.yml
  ansible/tests/playbook-tests/molecule/lab/verify.yml
  ansible/tests/playbook-tests/molecule/laptopmini/prepare.yml
Due: none

Remove ansible warning about Jinja2 braces in conditionals
  ansible/shutdown.yml
Due: none

Avoid repeated role invocation
  ansible/lab.yml
Due: none

Calculate ansible_distribution_release correctly on Testing
  ansible/group_vars/all.yml
  ansible/roles/gerbera/molecule/default/playbook.yml
  ansible/roles/gerbera/templates/config-testing.xml
  ansible/tests/playbook-tests/molecule/laptopmini/converge.yml
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
Due: test-role-gerbera, test-playbook-mediabox

Do not hardcode instance hostname in CI tests
  ansible/tests/playbook-tests/molecule/printer/molecule.yml
  ansible/tests/playbook-tests/molecule/printer/verify.yml
Due: test-playbook-printer

Ensure that ping is installed
  ansible/roles/server/defaults/main.yml
  ansible/tests/playbook-tests/molecule/lab/molecule.yml
  ansible/tests/playbook-tests/molecule/lab/prepare.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox, test-playbook-printer

Skip fact gathering while running CI
  ansible/tests/playbook-tests/molecule/laptopmini/prepare.yml
Due: none

Invoke individual hosts' playbooks when rebuilding lab
  ansible/lab.yml
Due: none

Relax file permissions for sources.list
  ansible/laptopmini.yml
  ansible/mediabox-hw.yml
  ansible/mediabox.yml
  ansible/roles/morebooks/tasks/os.yml
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-morebooks, test-playbook-mediabox

Create default configuration for ssh client
  dotfiles/README.md
  dotfiles/ssh-client/README.md
  dotfiles/ssh-client/config.d/git.cfg.copy
  dotfiles/ssh-client/config.link
  dotfiles/ssh-client/dotfiles.meta
  dotfiles/ssh-client/ssh.config
  dotfiles/topics-cli.list
Due: none

Mention that ssh client config is also in $(INFRA)
  ansible/README.md
Due: none

Update test status for Ansible roles
  ansible/README.md
Due: none

Create a link to ssh config automagically
  ansible/Makefile
Due: none

Force Python3 on all controlled hosts
  ansible/group_vars/all.yml
Due: none

Do not require root on localhost
  ansible/roles/sshkey/molecule/default/prepare.yml
  ansible/tests/playbook-tests/molecule/laptopmini/prepare.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
  ansible/wakeup.yml
Due: test-playbook-mediabox

Use non-free installer image by default
  packer/isorepack/Makefile
Due: none

Streamline Munin config
  ansible/mediabox.yml
  ansible/roles/munin_master/templates/nodes.conf.j2
Due: test-role-munin_master, test-role-supysonic-munin, test-playbook-mediabox

Add comments to group_vars/all.yml
  ansible/group_vars/all.yml
Due: none

Save clean VM urls for reuse not just in CI tests
  ansible/group_vars/all.yml
  ansible/roles/virtual_machine/molecule/default/playbook.yml
Due: test-role-virtual_machine

Use node name for Munin graphs
  ansible/roles/munin_master/templates/nodes.conf.j2
Due: test-role-munin_master, test-role-supysonic-munin, test-playbook-mediabox

List all dependency playbooks for lab.yml
  .gitlab-ci.yml
Due: none

Add task for waking up virtual machines
  ansible/wakeup.yml
Due: none

Wait for physical hosts to be up before starting VMs
  ansible/wakeup.yml
Due: none

Use proper FHS locations instead of /root/
  ansible/roles/canon_mf3010/defaults/main.yml
  ansible/roles/deb_url/defaults/main.yml
  ansible/roles/virtual_usb/defaults/main.yml
Due: test-role-canon_mf3010, test-role-deb_url, test-role-transmission-deb_url, test-playbook-mediabox, test-playbook-printer
