Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-interactive, test-role-motd, test-role-packages, test-role-require, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

test-role-canary:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-canon_mf3010:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-deb_url:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-interactive:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-motd:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

Create both test inventory and a set of test keys
  ansible/roles/control/molecule/default/prepare.yml
Due: none

Create custom Ansible virtual env for operator
  ansible/roles/control/defaults/main.yml
  ansible/roles/control/tasks/init.yml
Due: none

Install keyutils on control node
  ansible/roles/control/defaults/main.yml
Due: none

Add TODO items for 'upgrade' role
  ansible/roles/upgrade/tasks/main.yml
Due: test-playbook-mediabox, test-playbook-printer

Update table of contents
  TOC.md
Due: none

Copy Tmux autostart code from laptop
  dotfiles/bash-tmux-auto/bashrc.d/tmux-auto.sh.link
Due: none

Add ansible explicitly to requirements.txt
  ansible/tests/requirements.txt
Due: none

Blacklist Molecule 3.1.* for now
  ansible/tests/requirements.txt
Due: none

Allow customizing iso url for building Testing VMs
  packer/debian10/Makefile
  packer/debian10/packer.yml
Due: test-role-virtual_machine

Skip interactive question about moving userdir
  packer/debian10/preseed.cfg
Due: test-role-virtual_machine

Build bullseye VM images in CI
  .gitlab-ci.yml
  packer/cirrus.yml.j2
Due: none

Make initialization commands copy-pastable
  README.md
Due: none

Do not keep Packer artifacts after 12 hours
  .gitlab-ci.yml
Due: none

Allow easy customization of git name and email
  dotfiles/git-opensource/README.md
  dotfiles/git-opensource/gitconfig.d/user.cfg.link
  dotfiles/git/gitconfig.d/README.link
  dotfiles/git/gitconfig.link
  dotfiles/topics-cli.list
Due: none

Automatically launch tmux on laptop
  dotfiles/topics-laptop.list
Due: none

Create new windows with vertical split by default
  dotfiles/tmux/tmux.conf.link
Due: none

Document repo settings that are not tracked in git
  .gitlab-ci.yml
Due: none

Create smarttest role
  ansible/roles/smarttest/README.md
  ansible/roles/smarttest/defaults/main.yml
  ansible/roles/smarttest/handlers/main.yml
  ansible/roles/smarttest/tasks/assert.yml
  ansible/roles/smarttest/tasks/main.yml
  ansible/roles/smarttest/tasks/packages.yml
  ansible/roles/smarttest/tasks/systemd.yml
  ansible/roles/smarttest/templates/smarttest-@.service
  ansible/roles/smarttest/templates/smarttest-@.timer
Due: none

Add tests for smarttest role
  .gitlab-ci.yml
  ansible/README.md
  ansible/roles/smarttest/molecule/default/molecule.yml
  ansible/roles/smarttest/molecule/default/playbook.yml
  ansible/roles/smarttest/molecule/default/verify.yml
Due: none

Fix unit file syntax
  ansible/roles/smarttest/templates/smarttest-@.timer
Due: none

Do not require extra packages on Ansible controller
  ansible/roles/smarttest/defaults/main.yml
  ansible/roles/smarttest/molecule/default/prepare.yml
Due: none

Debug role variables (skipped with default verbosity)
  ansible/roles/smarttest/tasks/debug.yml
  ansible/roles/smarttest/tasks/main.yml
Due: none

Enable debug messages on CI runner
  ansible/roles/smarttest/tasks/debug.yml
Due: none

Update playbook dependencies for CI triggers
  .gitlab-ci.yml
Due: none

Do not try to enable WoL on CI runners
  ansible/roles/wol/handlers/main.yml
Due: none

Enable wake-on-lan for mediabox
  ansible/mediabox.yml
Due: test-playbook-mediabox

Enable disk health self-tests
  .gitlab-ci.yml
  ansible/lab.yml
  ansible/laptopmini.yml
  ansible/mediabox.yml
Due: test-playbook-mediabox

Allow other falsey values for ansible_devices.virtual
  ansible/roles/smarttest/defaults/main.yml
Due: none

Remove hardcoded IP addresses
  ansible/roles/munin_master/defaults/main.yml
  ansible/roles/transmission/templates/settings.json.j2
Due: test-role-munin_master, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Keep backups of old files after templating
  ansible/roles/morebooks/tasks/layout.yml
  ansible/roles/samba/tasks/main.yml
  ansible/roles/supysonic/tasks/supysonic.yml
  ansible/roles/supysonic/tasks/watcher.yml
  ansible/roles/supysonic/tasks/webserver.yml
  ansible/roles/transmission/tasks/startup.yml
Due: test-role-morebooks, test-role-samba, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Do not require virtual==0
  ansible/roles/smarttest/defaults/main.yml
  ansible/roles/smarttest/tasks/debug.yml
Due: none

Force show credentials in low-verbosity Ansible run
  ansible/roles/supysonic/tasks/supysonic.yml
Due: test-role-supysonic, test-role-supysonic-munin, test-playbook-mediabox

Unpin molecule after vagrant plugin has been fixed
  ansible/tests/requirements.txt
Due: none

Force colored output in Cirrus CI
  .cirrus.yml.j2
Due: none

Install gitlab runner with shell executor
  ansible/roles/gitlab_runner/README.md
  ansible/roles/gitlab_runner/defaults/main.yml
  ansible/roles/gitlab_runner/handlers/main.yml
  ansible/roles/gitlab_runner/tasks/assert.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/gitlab_runner/templates/config.toml
  ansible/roles/gitlab_runner/templates/template.toml
Due: none

Check status of last pipeline in current branch
  .gitlab-ci.yml
  .gitlab/ci/previous-pipeline.yml
Due: none

Do not mistakenly show current job instead of previous one
  .gitlab/ci/previous-pipeline.yml
Due: none

Add Molecule tests for gitlab_runner
  ansible/roles/gitlab_runner/molecule/default/molecule.yml
  ansible/roles/gitlab_runner/molecule/default/playbook.yml
  ansible/roles/gitlab_runner/molecule/default/verify.yml
Due: none

Manage tasks in different files
  ansible/roles/gitlab_runner/tasks/install.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/gitlab_runner/tasks/users.yml
Due: none

Install gnupg, required by apt-key
  ansible/roles/gitlab_runner/defaults/main.yml
Due: none

Path conditions:
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-require: any of: ansible/roles/require/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
