Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, test-role-deb_url, test-role-interactive, test-role-motd, test-role-require, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url

Path conditions:
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-require: any of: ansible/roles/require/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*

Enable video seeking for LG WebOS TV
  ansible/roles/gerbera/templates/config-buster.xml
Due: test-role-gerbera

Tweak thumbnail settings
  ansible/roles/gerbera/tasks/main.yml
  ansible/roles/gerbera/templates/config-buster.xml
Due: test-role-gerbera

Order of algorithms breaks idempotency sometimes
  ansible/roles/torrents_sysctl/files/sysctl.yml
Due: test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url

Use specific directory path instead of description
  ansible/mediabox.yml
Due: none

Use specific hostname in prepare.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
Due: none

Do not share incomplete downloads
  ansible/roles/gerbera/templates/config-buster.xml
Due: test-role-gerbera

Do not exceed supported thumbnail size
  ansible/roles/gerbera/templates/config-buster.xml
Due: test-role-gerbera

Use new config file location for modules
  ansible/roles/torrents_sysctl/tasks/main.yml
Due: test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url

Add power management tools to mediabox
  ansible/mediabox.yml
Due: none

Create music dir if not exists
  ansible/roles/supysonic/tasks/supysonic.yml
Due: test-role-supysonic, test-role-supysonic-munin

Add conditions for test-playbook-mediabox
  .gitlab-ci.yml
Due: none

Enable HDD temperature monitoring on mediabox
  ansible/mediabox.yml
Due: none

Do not use 'localhost' in Munin reports
  ansible/mediabox.yml
  ansible/roles/munin_master/tasks/main.yml
  ansible/roles/munin_master/templates/nodes.conf.j2
Due: test-role-munin_master, test-role-supysonic-munin

Install non-free firmware on mediabox
  ansible/mediabox-hw.yml
Due: none

Check that supysonic-watcher is running
  ansible/roles/supysonic/molecule/default/verify.yml
Due: test-role-supysonic, test-role-supysonic-munin

Use new cli syntax (Supysonic 0.5.0+)
  ansible/roles/supysonic/tasks/supysonic.yml
Due: test-role-supysonic, test-role-supysonic-munin

Install lm-sensors on mediabox
  ansible/mediabox.yml
Due: none

Enable kernel modules for fan speed monitoring
  ansible/mediabox-hw.yml
Due: none

Debian 10.4 was released
  packer/debian10/packer.yml
Due: none

Expand tabs to 4 spaces in all files with given extensions
  dotfiles/bash/aliases
Due: none

Clean up trailing whitespace while retabbing
  dotfiles/bash/aliases
Due: none

Install tmux on mediabox
  ansible/mediabox.yml
Due: none

Do not manage directory permissions from this role
  ansible/roles/samba/defaults/main.yml
  ansible/roles/samba/molecule/default/playbook.yml
  ansible/roles/samba/tasks/main.yml
Due: test-role-samba

Add some packages for interactive user
  ansible/mediabox.yml
Due: none

Minor config polishing for mediabox
  ansible/roles/packages/tasks/main.yml
  ansible/roles/supysonic/tasks/install.yml
  ansible/roles/transmission/templates/settings.json.j2
Due: test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url

Allow changing libvirt template path
  ansible/roles/virtual_machine/defaults/main.yml
  ansible/roles/virtual_machine/tasks/main.yml
Due: none

Build Debian 10 initial image with Packer
  .gitlab-ci.yml
  packer/cirrus.yml.j2
Due: none

Create job template for packer builds
  .gitlab-ci.yml
Due: none

Enable checksums for VM images
  .gitlab-ci.yml
  packer/Makefile.packer
  packer/cirrus.yml.j2
Due: none

Fetch artifacts from CirrusCI
  .gitlab-ci.yml
  packer/cirrus_artifacts.py
Due: none

Use pre-built VM image for tests
  ansible/roles/virtual_machine/molecule/DESTRUCTIVE/playbook.yml
Due: none

Do not download any artifacts from previous stages
  .gitlab-ci.yml
Due: none

Increase expiration time for VM images
  .gitlab-ci.yml
Due: none

Ensure that artifact URLs always remain valid
  .gitlab-ci.yml
Due: none

Add Makefile for executing playbooks
  ansible/Makefile
Due: none

Explicitly require bash for a shell
  ansible/Makefile
Due: none

Flush handlers after each Transmission instance
  ansible/roles/transmission/tasks/main.yml
Due: test-role-transmission, test-role-transmission-deb_url

Canary role for handling dumb UPS
  ansible/roles/canary/defaults/main.yml
  ansible/roles/canary/handlers/main.yml
  ansible/roles/canary/tasks/main.yml
  ansible/roles/canary/templates/canary.service
  ansible/roles/canary/templates/canary.sh
  ansible/roles/canary/templates/canary.timer
Due: none

Test canary in vargrant/libvirt
  ansible/roles/canary/molecule/default/molecule.yml
  ansible/roles/canary/molecule/default/playbook.yml
  ansible/roles/canary/molecule/default/verify.yml
Due: none

Test canary in docker/systemd
  ansible/roles/canary/molecule/default/molecule.yml
  ansible/roles/canary/molecule/default/playbook.yml
Due: none
