Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-interactive, test-role-motd, test-role-packages, test-role-require, test-role-unattended, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-mediabox, test-playbook-printer

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

test-role-canary:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-canon_mf3010:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-deb_url:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-interactive:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-role-motd:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

Remove empty TODO list
  ansible/TODO.md
Due: none

Rebuild Debian packer image in each pipeline for master
  .gitlab-ci.yml
Due: none

Rebuild image when Packer configuration was modified
  .gitlab-ci.yml
Due: none

Debian 10.5 was released
  packer/debian10/packer.yml
Due: test-role-virtual_machine

Really enable canary.timer after reboot
  ansible/roles/canary/templates/canary.timer
Due: test-role-canary, test-playbook-mediabox

Do not update pip/setuptools to each new release
  ansible/roles/morebooks/tasks/hlc.yml
  ansible/roles/supysonic/tasks/install.yml
  ansible/roles/transmission/tasks/watchdir.yml
Due: test-role-morebooks, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Show build logs for CirrusCI jobs in GitLab UI
  .gitlab-ci.yml
Due: none

Install 'wheel' when creating virtual environment
  ansible/roles/morebooks/tasks/hlc.yml
  ansible/roles/supysonic/tasks/install.yml
  ansible/roles/transmission/tasks/watchdir.yml
Due: test-role-morebooks, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Provide explicit play name for mediabox-hw.yml
  ansible/mediabox-hw.yml
Due: none

Create single ansible-playbook entrypoint
  ansible/Makefile
  ansible/all.yml
Due: none

Avoid deprecation warning for evaluating bare variable
  ansible/roles/packages/tasks/main.yml
Due: test-role-packages, test-playbook-mediabox, test-playbook-printer

Add ssh identities with a Makefile rule
  ansible/Makefile
Due: none

Provide explicit mode for new files
  ansible/roles/munin_master/tasks/main.yml
Due: test-role-munin_master, test-role-supysonic-munin, test-playbook-mediabox

More mode fixes for Ansible 2.9.12
  ansible/roles/supysonic/tasks/supysonic.yml
  ansible/roles/supysonic/tasks/watcher.yml
Due: test-role-supysonic, test-role-supysonic-munin, test-playbook-mediabox

Add makefile recipe for remote build in CirrusCI
  packer/cirrus.yml.j2
  packer/windows10/Makefile
Due: none

Enable 'remote-build' for all packer Makefiles
  packer/Makefile.packer
  packer/windows10/Makefile
Due: none

Provide default env values for remote-build
  packer/debian10/Makefile
Due: test-role-virtual_machine

Combine kernel parameters into one role invocation
  ansible/laptopmini.yml
Due: none

Attempt to fix Ethernet errors after suspend
  ansible/laptopmini.yml
Due: none

Fix: irqpoll goes to kernel params, not initrd modules
  ansible/laptopmini.yml
Due: none

Bump copyright year
  README.md
Due: none

Create wake-on-lan role
  ansible/roles/wol/README.md
  ansible/roles/wol/defaults/main.yml
  ansible/roles/wol/handlers/main.yml
  ansible/roles/wol/tasks/main.yml
Due: none

Test 'wol' role in Docker
  .gitlab-ci.yml
  ansible/README.md
  ansible/roles/wol/molecule/default/molecule.yml
  ansible/roles/wol/molecule/default/playbook.yml
  ansible/roles/wol/molecule/default/verify.yml
Due: none

Use dummy interface name for docker tests
  ansible/roles/wol/molecule/default/playbook.yml
Due: none

Show MAC address for WOL interface
  ansible/roles/wol/tasks/main.yml
Due: none

Do not try to keep oneshot service running
  ansible/roles/wol/tasks/main.yml
Due: none

Fix remaining warnings where 'mode' was not specified
  ansible/laptopmini.yml
  ansible/mediabox.yml
  ansible/roles/canon_mf3010/tasks/drivers.yml
  ansible/roles/deb_url/tasks/main.yml
  ansible/roles/morebooks/molecule/default/prepare.yml
  ansible/roles/morebooks/tasks/os.yml
  ansible/roles/supysonic/molecule/default/prepare.yml
  ansible/roles/torrents_sysctl/tasks/main.yml
  ansible/roles/transmission/tasks/startup.yml
  ansible/roles/virtual_usb/tasks/main.yml
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-canon_mf3010, test-role-deb_url, test-role-morebooks, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox, test-playbook-printer

Pin ansible-lint to 4.2.0
  ansible/tests/requirements.txt
Due: none

Update Makefile.venv from upstream
  ansible/tests/Makefile
Due: none

Use absolute path for VENVDIR in CirrusCI
  .cirrus.yml.j2
Due: none

Create role for managing ssh keys
  ansible/roles/sshkey/README.md
  ansible/roles/sshkey/defaults/main.yml
  ansible/roles/sshkey/meta/main.yml
  ansible/roles/sshkey/tasks/main.yml
  ansible/roles/sshkey/templates/keys.j2
Due: none

Add tests for sshkey role
  ansible/roles/sshkey/molecule/default/molecule.yml
  ansible/roles/sshkey/molecule/default/playbook.yml
  ansible/roles/sshkey/molecule/default/prepare.yml
  ansible/roles/sshkey/molecule/default/verify.yml
Due: none

Fix syntax errors
  ansible/roles/sshkey/molecule/default/playbook.yml
  ansible/roles/sshkey/tasks/main.yml
  ansible/roles/sshkey/templates/keys.j2
Due: none

Force absolute path for VENVDIR
  ansible/tests/Makefile
Due: none

Rename test keys for charlie
  ansible/roles/sshkey/molecule/default/prepare.yml
Due: none

Check target state after applying the role
  ansible/roles/sshkey/molecule/default/verify.yml
Due: none

Mention custom key options
  ansible/roles/sshkey/README.md
Due: none

Create CI job for sshkey role
  .gitlab-ci.yml
Due: none

Enforce ssh key management for mediabox
  ansible/mediabox.yml
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
Due: test-playbook-mediabox

Allow default vagrant key on test instance
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
Due: test-playbook-mediabox

Path conditions:
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-require: any of: ansible/roles/require/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
