Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian11, packer-debian-testing, molecule-host-docker, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-borg_client, test-role-control, test-role-docker_compose, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-nfs_cache, test-role-nfs_server, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-systemctl_wait, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_machine_cloudinit, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian10
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

packer-debian11:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian11
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian-testing
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

molecule-host-docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-borg_server:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    DOCKER_HOST: tcp://docker:2375
  ...

Use dynamic include for conditional imports
  ansible/roles/canon_mf3010/tasks/main.yml
  ansible/roles/cups_printer/tasks/main.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/morebooks/tasks/main.yml
  ansible/roles/saned/tasks/main.yml
  ansible/roles/transmission/tasks/main.yml
  ansible/roles/upgrade/tasks/main.yml
  ansible/roles/virtual_machine/tasks/main.yml
Due: test-role-canon_mf3010, test-role-gitlab_runner, test-role-morebooks, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_machine_cloudinit, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Show some context when searching within 'less'
  dotfiles/bash/env
Due: none

Static import is required to maintain cups_printer_lpstat
  ansible/roles/cups_printer/tasks/main.yml
Due: none

Fix errors in regex (missing backslash)
  ansible/roles/grub/tasks/main.yml
Due: test-playbook-laptopmini

Use serial console for out-of-band access to hypervisor-j
  ansible/hypervisor-j-hw.yml
Due: none

Special handling for Bullseye is not required anymore
  ansible/roles/gitlab_runner/molecule/default/converge.yml
Due: test-role-gitlab_runner, test-playbook-control

Special handling of Bullseye is not required anymore
  ansible/tests/playbook-tests/molecule/control/molecule.yml
Due: test-playbook-control

Do not fail idempotency tests when close to EOL
  ansible/roles/upgrade/tasks/eol.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Memtest86+ stopped publishing single-binary releases
  ansible/pxe.yml
Due: none

Add whitespace before and after Jinja2 expressions
  ansible/roles/borg_client/molecule/default/converge.yml
  ansible/roles/restic/defaults/main.yml
Due: test-role-borg_client

Describe test setup for borg_* roles
  ansible/README.md
Due: none

Show diff by default when making git commits
  dotfiles/git/gitconfig.link
Due: none

Fix whitespace: use spaces instead of tabs
  dotfiles/git/gitconfig.link
Due: none

Always use ssh when pushing to GitHub/GitLab
  dotfiles/git/gitconfig.link
Due: none

Use USB serial for OOB access to lab hosts
  ansible/lab.yml
Due: test-playbook-lab

Move grub variables management into main grub role
  ansible/hypervisor-j-hw.yml
  ansible/roles/grub/defaults/main.yml
  ansible/roles/grub/tasks/main.yml
Due: test-playbook-laptopmini

Show directory listing after pushd/popd
  dotfiles/bash/aliases
Due: none

Install nftables ahead of time
  ansible/tests/playbook-tests/molecule/vpn-family/verify.yml
  ansible/vpn-family.yml
Due: none

Invite people to chat with me via GitLab issues
  README.md
Due: none

Use better wording in README headers
  ansible/README.md
Due: none

Add alias for microblogs
  dotfiles/git/gitconfig.link
Due: none

Ignore var-spacing rule in Ansible-lint
  ansible/tests/molecule.yml
Due: none

Add title placeholder to microblogs automatically
  dotfiles/git/gitconfig.link
Due: none

Do not remove Vagrant keys from test instances
  ansible/tests/playbook-tests/molecule/control/molecule.yml
  ansible/tests/playbook-tests/molecule/hypervisor-j/molecule.yml
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox-v/molecule.yml
  ansible/tests/playbook-tests/molecule/pxe/molecule.yml
Due: test-playbook-control, test-playbook-laptopmini

Debian 11.4 was released
  packer/debian/Makefile
Due: packer-debian10, packer-debian11, packer-debian-testing

Do not use CI environment variable
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/smarttest/tasks/debug.yml
  ansible/roles/wol/handlers/main.yml
Due: test-role-gitlab_runner, test-role-smarttest, test-role-wol, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-laptopmini

Use more descriptive name for docker-compose top directory
  ansible/pxe.yml
  ansible/roles/docker_compose/defaults/main.yml
Due: test-role-docker_compose

Do not use nogroup in systemd units
  ansible/roles/docker_compose/tasks/user.yml
  ansible/roles/docker_compose/templates/docker_compose.service
Due: test-role-docker_compose

Use shorter name for account name by default
  ansible/roles/docker_compose/defaults/main.yml
Due: test-role-docker_compose

Ansible 2.13 with Debian Bullseye requires 'sudo -S'
  ansible/inventory/group_vars/all/ansible.yml
Due: none

Create inventory group for virtual machines
  ansible/inventory/hosts.yml
  ansible/inventory/variables.yml
Due: none

Remove duplicated inventory entries
  ansible/inventory/hosts.yml
Due: none

Create docker host and deploy microblog container
  ansible/docker.yml
  ansible/inventory/hosts.yml
  ansible/inventory/secrets.yml
  ansible/virtual-machines.yml
  compose/microblog/compose.yml
Due: none

Replicate Docker host in CI runs
  .gitlab/ci/test-playbook.yml
  ansible/tests/playbook-tests/molecule/docker/converge.yml
  ansible/tests/playbook-tests/molecule/docker/molecule.yml
  ansible/tests/playbook-tests/molecule/docker/prepare.yml
  ansible/tests/playbook-tests/molecule/docker/verify.yml
Due: none

Create missing directories
  ansible/docker.yml
Due: none

Use HTTPS (anonymous) URL for GitHub clone
  ansible/docker.yml
Due: none

Do not test docker-compose role here
  ansible/docker.yml
  ansible/tests/playbook-tests/molecule/docker/verify.yml
Due: none

Add READMEs to compose/ directories
  compose/README.md
  compose/microblog/README.md
Due: none

Add docker VM to main Ansible playbook
  ansible/all.yml
Due: none

Path conditions:
  packer-debian10: any of: packer/debian/**/*
  packer-debian11: any of: packer/debian/**/*
  packer-debian-testing: any of: packer/debian/**/*
  molecule-host-docker: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-ci_runners_manager: any of: ansible/roles/ci_runners_manager/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-borg_client: any of: ansible/roles/borg_client/**/*, ansible/roles/borg_server/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-docker_compose: any of: ansible/roles/docker_compose/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-nfs_cache: any of: ansible/roles/nfs_cache/**/*, ansible/tasks/unattended-purge.yml
  test-role-nfs_server: any of: ansible/roles/nfs_server/**/*, ansible/tasks/unattended-purge.yml
  test-role-server: any of: ansible/roles/server/**/*, ansible/tasks/unattended-purge.yml
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-systemctl_wait: any of: ansible/roles/systemctl_wait/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_machine_cloudinit: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
