Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian11, packer-debian-testing, molecule-host-docker, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-borg_client, test-role-control, test-role-docker_compose, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-nfs_cache, test-role-nfs_server, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-systemctl_wait, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_machine_cloudinit, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian10
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

packer-debian11:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian11
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian-testing
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

molecule-host-docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-borg_server:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    DOCKER_HOST: tcp://docker:2375
  ...

Enforce proper directory for apt source files
  ansible/roles/aptrepo/molecule/default/converge.yml
  ansible/roles/aptrepo/tasks/assert.yml
Due: none

Force non-zero rc when package is not found
  ansible/roles/aptrepo/molecule/default/verify.yml
Due: none

Do not repeat 'main' repo on test instance
  ansible/roles/aptrepo/molecule/default/converge.yml
Due: none

Show apt sources when running tests
  ansible/roles/aptrepo/molecule/default/verify.yml
Due: none

Do not print all gitlab-runner versions
  ansible/roles/aptrepo/molecule/default/verify.yml
Due: none

Validate Deb822 parameter names
  ansible/roles/aptrepo/defaults/main.yml
  ansible/roles/aptrepo/molecule/default/converge.yml
  ansible/roles/aptrepo/tasks/assert.yml
Due: none

Avoid YAML value manupulations, 'yes' is meant literally
  ansible/roles/aptrepo/defaults/main.yml
Due: none

Drop excessive output in Jinja, not in shell
  ansible/roles/aptrepo/molecule/default/verify.yml
Due: none

Link more manuals from README
  ansible/roles/aptrepo/README.md
Due: none

Reformat debug message in Molecule tests
  ansible/roles/aptrepo/molecule/default/verify.yml
Due: none

Use custom role instead of apt_key module
  ansible/laptopmini.yml
  ansible/roles/gitlab_runner/defaults/main.yml
  ansible/roles/gitlab_runner/tasks/install.yml
Due: test-role-gitlab_runner, test-playbook-control, test-playbook-laptopmini

Use lowercase suite name, WAF is rejecting 'Buster'
  ansible/roles/gitlab_runner/molecule/default/converge.yml
Due: test-role-gitlab_runner, test-playbook-control

Speed up deployments with 'free' Ansible strategy
  ansible/Makefile
Due: none

Configure nftables for VPN router
  nftables/README.md
  nftables/vpn_edge/README.md
  nftables/vpn_edge/main.nft
Due: none

Create nftables role
  ansible/roles/nftables/README.md
  ansible/roles/nftables/defaults/main.yml
  ansible/roles/nftables/handlers/main.yml
  ansible/roles/nftables/tasks/assert.yml
  ansible/roles/nftables/tasks/firewall.yml
  ansible/roles/nftables/tasks/install.yml
  ansible/roles/nftables/tasks/main.yml
  ansible/roles/nftables/templates/default.nft
  ansible/roles/nftables/templates/override.service
Due: none

Test nftables role with Molecule
  .gitlab/ci/test-kvm.yml
  ansible/README.md
  ansible/roles/nftables/molecule/default/converge.yml
  ansible/roles/nftables/molecule/default/molecule.yml
  ansible/roles/nftables/molecule/default/prepare.yml
  ansible/roles/nftables/molecule/default/verify.yml
Due: none

Clean up Jinja2 whitespace
  ansible/roles/nftables/molecule/default/converge.yml
  ansible/roles/nftables/templates/default.nft
Due: none

Check firewall presence from outside, not from inside
  ansible/roles/nftables/molecule/default/prepare.yml
  ansible/roles/nftables/molecule/default/verify.yml
Due: none

Do not install UFW when it's not in use
  ansible/roles/server/defaults/main.yml
  ansible/roles/server/handlers/main.yml
  ansible/roles/server/tasks/security.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Do not split wireguard role into server/client
  ansible/roles/wireguard/defaults/main.yml
  ansible/roles/wireguard/tasks/main.yml
  ansible/roles/wireguard/templates/client.conf
  ansible/roles/wireguard/templates/wireguard.conf
Due: test-role-wireguard

Add assertions to wireguard role
  ansible/roles/wireguard/tasks/assert.yml
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-wireguard

Create playbook to manage VPN edge devices
  ansible/inventory/variables.yml
  ansible/inventory/vpn-family.yml
  ansible/vpn-family.yml
Due: none

Make sure that vpn-family playbook is runnable
  ansible/inventory/vpn-family.yml
  ansible/tests/playbook-tests/molecule/vpn-family/converge.yml
  ansible/tests/playbook-tests/molecule/vpn-family/molecule.yml
  ansible/tests/playbook-tests/molecule/vpn-family/prepare.yml
  ansible/tests/playbook-tests/molecule/vpn-family/verify.yml
  ansible/vpn-family.yml
Due: none

Use subdirectories for interface configuration
  ansible/roles/wireguard/defaults/main.yml
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-wireguard

Gather basic facts for server and upgrade roles
  ansible/vpn-family.yml
Due: none

Establish connectivity between Molecule instances
  ansible/tests/playbook-tests/molecule/vpn-family/converge.yml
  ansible/tests/playbook-tests/molecule/vpn-family/molecule.yml
  ansible/tests/playbook-tests/molecule/vpn-family/prepare.yml
  ansible/tests/playbook-tests/molecule/vpn-family/verify.yml
Due: none

Use stable interface name for firewall zoning
  ansible/tests/playbook-tests/molecule/vpn-family/molecule.yml
Due: none

Whitespace cleanup in firewall templates
  nftables/vpn_edge/main.nft
Due: none

Enable CI for vpn-family playbook
  .gitlab/ci/test-playbook.yml
  ansible/README.md
Due: none

Restart multiple interfaces with one handler
  ansible/roles/wireguard/defaults/main.yml
  ansible/roles/wireguard/handlers/main.yml
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-wireguard

Use both wireguard networks on test instances
  ansible/roles/wireguard/templates/wireguard.conf
  ansible/tests/playbook-tests/molecule/vpn-family/molecule.yml
Due: test-role-wireguard

Flushing handlers is not necessary anymore
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-wireguard

Show interface name along with pubkey in Ansible output
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-wireguard

Update inventory after vpn-edge test deployment
  ansible/inventory/secrets.yml
  ansible/inventory/vpn-family.yml
Due: none

Trigger CI on firewall template modifications
  .gitlab/ci/test-playbook.yml
Due: none

Drop all connections from and to malicious hosts
  nftables/vpn_edge/main.nft
Due: none

Ban for 1 hour for nmap scans
  nftables/vpn_edge/main.nft
Due: none

Update TOC
  TOC.md
Due: none

Add bogons filtering to router
  nftables/vpn_edge/main.nft
Due: none

Workaround for cgroups v2 at Cirrus CI
  .cirrus.yml.j2
Due: none

Path conditions:
  packer-debian10: any of: packer/debian/**/*
  packer-debian11: any of: packer/debian/**/*
  packer-debian-testing: any of: packer/debian/**/*
  molecule-host-docker: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-ci_runners_manager: any of: ansible/roles/ci_runners_manager/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-borg_client: any of: ansible/roles/borg_client/**/*, ansible/roles/borg_server/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-docker_compose: any of: ansible/roles/docker_compose/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-nfs_cache: any of: ansible/roles/nfs_cache/**/*, ansible/tasks/unattended-purge.yml
  test-role-nfs_server: any of: ansible/roles/nfs_server/**/*, ansible/tasks/unattended-purge.yml
  test-role-server: any of: ansible/roles/server/**/*, ansible/tasks/unattended-purge.yml
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-systemctl_wait: any of: ansible/roles/systemctl_wait/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_machine_cloudinit: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
