Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian11, packer-debian-testing, molecule-host-docker, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-borg_client, test-role-control, test-role-docker_compose, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-nfs_cache, test-role-nfs_server, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-systemctl_wait, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_machine_cloudinit, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian10
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

packer-debian11:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian11
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian-testing
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

molecule-host-docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-borg_server:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    DOCKER_HOST: tcp://docker:2375
  ...

Update repo key if a new one is published at URL
  ansible/roles/aptrepo/defaults/main.yml
  ansible/roles/aptrepo/tasks/assert.yml
  ansible/roles/aptrepo/tasks/key.yml
Due: none

Trigger gitlab_runner role tests when aptrepo is modified
  .gitlab/ci/test-docker.yml
  .gitlab/ci/test-playbook.yml
Due: none

Keep cgroups workaround running indefinitely
  .cirrus.yml.j2
Due: none

Disable unattended upgrades on Molecule instances
  ansible/roles/nftables/molecule/default/prepare.yml
Due: none

Ignore FQCN requirement with ansible-lint
  ansible/tests/molecule.yml
Due: none

Update Molecule packages in CI environment
  ansible/tests/requirements.txt
Due: none

Create cloudflare tunnel role
  ansible/roles/cloudflare_tunnel/README.md
  ansible/roles/cloudflare_tunnel/defaults/main.yml
  ansible/roles/cloudflare_tunnel/handlers/main.yml
  ansible/roles/cloudflare_tunnel/tasks/assert.yml
  ansible/roles/cloudflare_tunnel/tasks/install.yml
  ansible/roles/cloudflare_tunnel/tasks/main.yml
  ansible/roles/cloudflare_tunnel/tasks/systemd.yml
  ansible/roles/cloudflare_tunnel/tasks/update.yml
  ansible/roles/cloudflare_tunnel/templates/cloudflare-tunnel@.service
  ansible/roles/cloudflare_tunnel/templates/config.yml
  ansible/roles/cloudflare_tunnel/templates/credentials.json
Due: none

Add Molecule config for cloudflare_tunnel role
  .gitlab/ci/test-docker.yml
  ansible/README.md
  ansible/roles/cloudflare_tunnel/molecule/default/converge.yml
  ansible/roles/cloudflare_tunnel/molecule/default/molecule.yml
  ansible/roles/cloudflare_tunnel/molecule/default/verify.yml
Due: none

Enfoce CA certs on target node
  ansible/roles/cloudflare_tunnel/tasks/install.yml
Due: none

Fix loop variable syntax
  ansible/roles/cloudflare_tunnel/handlers/main.yml
  ansible/roles/cloudflare_tunnel/tasks/install.yml
Due: none

Create tunnel config directory with Ansible
  ansible/roles/cloudflare_tunnel/tasks/install.yml
Due: none

Split tunnel setup into its own file to allow looping
  ansible/roles/cloudflare_tunnel/tasks/install.yml
  ansible/roles/cloudflare_tunnel/tasks/tunnel.yml
Due: none

Allow executing of cloudflared
  ansible/roles/cloudflare_tunnel/tasks/install.yml
Due: none

Avoid double slashes in generated paths
  ansible/roles/cloudflare_tunnel/defaults/main.yml
Due: none

Do not try to establish tunnel on test instances
  ansible/roles/cloudflare_tunnel/handlers/main.yml
Due: none

Explicitly set owner and permissions for config dir
  ansible/roles/cloudflare_tunnel/tasks/tunnel.yml
Due: none

Do not lint configuration template
  ansible/roles/cloudflare_tunnel/templates/config.yml
Due: none

Enable serial console in Molecule instances
  ansible/tasks/vagrant-console.yml
  ansible/tests/playbook-tests/molecule/vpn-family/prepare.yml
Due: none

Update password salt for new Ansible requirements
  ansible/roles/server/tasks/security.yml
  ansible/tasks/vagrant-console.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Disable repos which cause errors for 'apt update'
  ansible/roles/upgrade/defaults/main.yml
  ansible/roles/upgrade/tasks/repocleaner.yml
  ansible/roles/upgrade/tasks/upgrade.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Avoid providing two wireguard peers with 0.0.0.0/0 route
  ansible/tests/playbook-tests/molecule/vpn-family/molecule.yml
Due: none

Avoid subnet collision between wg and libvirt
  ansible/tests/playbook-tests/molecule/vpn-family/molecule.yml
Due: none

Remove untrusted tunnel from inner VPN edge in Molecule tests
  ansible/tests/playbook-tests/molecule/vpn-family/molecule.yml
Due: none

Rate-limit only disallowed TCP connections
  nftables/vpn_edge/main.nft
Due: none

Filter bogons only on interfaces without any local subnets
  ansible/tests/playbook-tests/molecule/vpn-family/molecule.yml
  nftables/vpn_edge/main.nft
Due: none

Check for updated upstream key during each run
  ansible/roles/aptrepo/tasks/key.yml
Due: none

Add docs for creating new CF tunnel
  ansible/roles/cloudflare_tunnel/README.md
Due: none

Debian 10.12 and 11.3 were released
  packer/debian/Makefile
Due: packer-debian10, packer-debian11, packer-debian-testing

Allow finer tuning of Cloudflare tunnel
  ansible/roles/cloudflare_tunnel/templates/config.yml
  ansible/roles/cloudflare_tunnel/templates/credentials.json
Due: none

Migrate morebooks to a local VM
  ansible/inventory/hosts.yml
  ansible/inventory/secrets.yml
  ansible/inventory/variables.yml
  ansible/morebooks.yml
  ansible/roles/morebooks/README.migration.md
  ansible/roles/morebooks/molecule/default/prepare.yml
  ansible/roles/morebooks/tasks/selfsigned.yml
  ansible/virtual-machines.yml
Due: test-role-morebooks

Fix overeager IP regexes in /etc/hosts
  ansible/roles/server/tasks/hostname.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Fix Jinja filters for detection of empty lists
  ansible/roles/packages/tasks/main.yml
Due: test-role-packages, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Provide correct relative path to imported file
  ansible/roles/morebooks/molecule/default/prepare.yml
Due: test-role-morebooks

Do not install build-deps for Python libraries
  ansible/morebooks.yml
  ansible/roles/morebooks/tasks/os.yml
Due: test-role-morebooks

Adapt backup script to morebooks migration
  dotfiles/morebooks-backup/bin/morebooks-backup.py.link
Due: none

Add date to migration logs
  ansible/roles/morebooks/README.migration.md
Due: test-role-morebooks

Use correct permissions for /etc/ssl/private
  ansible/roles/morebooks/tasks/selfsigned.yml
Due: test-role-morebooks

Disable cloud-init after first boot
  cloudinit/generic.j2/user-data
Due: none

Bump copyright year
  README.md
Due: none

Drop default start/reload commands from nftables.service
  ansible/roles/nftables/templates/override.service
Due: none

Path conditions:
  packer-debian10: any of: packer/debian/**/*
  packer-debian11: any of: packer/debian/**/*
  packer-debian-testing: any of: packer/debian/**/*
  molecule-host-docker: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-ci_runners_manager: any of: ansible/roles/ci_runners_manager/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-borg_client: any of: ansible/roles/borg_client/**/*, ansible/roles/borg_server/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-docker_compose: any of: ansible/roles/docker_compose/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-nfs_cache: any of: ansible/roles/nfs_cache/**/*, ansible/tasks/unattended-purge.yml
  test-role-nfs_server: any of: ansible/roles/nfs_server/**/*, ansible/tasks/unattended-purge.yml
  test-role-server: any of: ansible/roles/server/**/*, ansible/tasks/unattended-purge.yml
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-systemctl_wait: any of: ansible/roles/systemctl_wait/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_machine_cloudinit: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
