Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-unattended, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*

Simple status check script for Ansible playbooks
  ansible/notify/README.md
  ansible/notify/detect_changes.py
  ansible/notify/skip.json
Due: none

Create continuous deployment job
  .gitlab-ci.yml
  .gitlab/ci/deploy.yml
Due: none

Force colored playbook output
  ansible/Makefile
Due: none

Force non-interactive behavior when executing CI/CD jobs
  ansible/control.yml
Due: test-playbook-control

Recreate Ansible venv when requirements file changes
  ansible/roles/control/handlers/main.yml
  ansible/roles/control/tasks/init.yml
Due: test-role-control, test-playbook-control

Enable custom Ansible venv requirements
  ansible/roles/control/defaults/main.yml
  ansible/roles/control/tasks/init.yml
Due: test-role-control, test-playbook-control

Check that Ansible venv was created
  ansible/roles/control/molecule/default/verify.yml
Due: test-role-control, test-playbook-control

Skip linter for verification task
  ansible/roles/control/molecule/default/verify.yml
Due: test-role-control, test-playbook-control

Converting string to boolean did not work as expected
  ansible/roles/gitlab_runner/handlers/main.yml
Due: test-role-gitlab_runner, test-playbook-control

Add hypervisor and control to main maintenance chore
  ansible/all.yml
Due: none

Automatically create subdirectory for sshagent socket
  ansible/roles/control/templates/control-sshagent.service
Due: test-role-control, test-playbook-control

Enable passwordless sudo for operator
  ansible/control.yml
Due: test-playbook-control

Use systemd to create subdir under /var/run
  ansible/roles/control/templates/control-sshagent.service
Due: test-role-control, test-playbook-control

Do not check host keys from control node
  ansible/roles/control/templates/control_environment.sh
Due: test-role-control, test-playbook-control

Fix directory permissions for /var/run/control-secrets
  ansible/roles/control/tasks/systemd.yml
Due: test-role-control, test-playbook-control

Allow gitlab-runner jobs to use sudo
  ansible/roles/gitlab_runner/tasks/install.yml
Due: test-role-gitlab_runner, test-playbook-control

Allow operator to create Makefile.secrets
  .gitlab/ci/deploy.yml
Due: none

Debian 10.7 was released
  packer/debian10/packer.yml
Due: packer-debian10, packer-debian-testing, test-role-virtual_machine

Do not show cache updates as playbook changes
  ansible/mediabox-hw.yml
  ansible/roles/canon_mf3010/tasks/cups.yml
  ansible/roles/control/tasks/packages.yml
  ansible/roles/gerbera/tasks/main.yml
  ansible/roles/interactive/tasks/main.yml
  ansible/roles/kvm_bridge/tasks/main.yml
  ansible/roles/morebooks/molecule/default/prepare.yml
  ansible/roles/morebooks/tasks/os.yml
  ansible/roles/munin_master/tasks/main.yml
  ansible/roles/munin_node/tasks/main.yml
  ansible/roles/munin_smart/tasks/main.yml
  ansible/roles/samba/tasks/main.yml
  ansible/roles/server/tasks/locale.yml
  ansible/roles/server/tasks/packages.yml
  ansible/roles/smarttest/tasks/packages.yml
  ansible/roles/supysonic/molecule/combination-munin/prepare.yml
  ansible/roles/supysonic/molecule/default/prepare.yml
  ansible/roles/supysonic/tasks/install.yml
  ansible/roles/torrents_sysctl/tasks/main.yml
  ansible/roles/transmission/tasks/install.yml
  ansible/roles/wireguard/tasks/main.yml
  ansible/roles/wol/tasks/main.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
Due: test-role-canon_mf3010, test-role-interactive, test-role-smarttest, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Update repo description, it's not just dotfiles anymore
  README.md
Due: none

Disable systemd timers that may lock up dpkg
  ansible/tasks/unattended-purge.yml
Due: none

Overload DEBUG variable for cooperation with sio/ci-with-molecule-git
  ansible/tests/Makefile
Due: none

Use wait_for_connection instead of raw ping
  ansible/tests/playbook-tests/molecule/lab/prepare.yml
  ansible/unreachable.yml
  ansible/wakeup.yml
Due: test-playbook-lab

Add hyperlink to deployment pipelines
  README.md
Due: none

Do not use default config directory
  ansible/roles/gitlab_runner/defaults/main.yml
  ansible/roles/gitlab_runner/tasks/assert.yml
Due: test-role-gitlab_runner, test-playbook-control

Provide a non-empty initial configuration
  ansible/roles/gitlab_runner/tasks/install.yml
Due: test-role-gitlab_runner, test-playbook-control

One-off: move gitlab-runner config to new location
  ansible/fix-gitlab-runner.yml
Due: none

Do not try to update gitlab-runner when running under it
  ansible/roles/gitlab_runner/defaults/main.yml
  ansible/roles/gitlab_runner/tasks/install.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/gitlab_runner/tasks/update.yml
Due: test-role-gitlab_runner, test-playbook-control

Validate SSHD configuration before applying modifications
  ansible/roles/server/tasks/locale.yml
  ansible/roles/server/tasks/security.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Skip gitlab-runner update when using local connection
  ansible/roles/gitlab_runner/tasks/main.yml
Due: test-role-gitlab_runner, test-playbook-control

Check FQDN to detect if running playbook against controller node
  ansible/roles/gitlab_runner/tasks/main.yml
Due: test-role-gitlab_runner, test-playbook-control

Gather facts on Ansible controller before accessing them
  ansible/roles/gitlab_runner/tasks/main.yml
Due: test-role-gitlab_runner, test-playbook-control

Disable deploy-gate for pipelines started via Web UI
  .gitlab/ci/deploy-gate.yml
Due: none

Do not require root on localhost to read the hostname
  ansible/roles/gitlab_runner/tasks/main.yml
Due: test-role-gitlab_runner, test-playbook-control

Explicitly restart gitlab-runner after update
  ansible/roles/gitlab_runner/tasks/update.yml
Due: test-role-gitlab_runner, test-playbook-control

Create docker_compose role
  ansible/roles/docker_compose/README.md
  ansible/roles/docker_compose/defaults/main.yml
  ansible/roles/docker_compose/handlers/main.yml
  ansible/roles/docker_compose/tasks/assert.yml
  ansible/roles/docker_compose/tasks/compose.yml
  ansible/roles/docker_compose/tasks/main.yml
  ansible/roles/docker_compose/tasks/packages.yml
  ansible/roles/docker_compose/templates/docker_compose.service
Due: none

Add security how-to for Docker networks
  ansible/roles/docker_compose/README.md
Due: none

Add tests for docker_compose role
  .gitlab/ci/test-kvm.yml
  ansible/roles/docker_compose/molecule/default/molecule.yml
  ansible/roles/docker_compose/molecule/default/playbook.yml
  ansible/roles/docker_compose/molecule/default/prepare.yml
  ansible/roles/docker_compose/molecule/default/verify.yml
Due: none

New host in the lab: labaie
  ansible/labaie.yml
Due: test-playbook-lab

Unbind C-a C-a to be able to use screen inside Tmux
  dotfiles/tmux/tmux.conf.link
Due: none
