Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-unattended, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*

Add labaie to main lab run
  ansible/lab.yml
Due: test-playbook-lab

Do not set executable bit for all files in ~/infra
  ansible/roles/control/tasks/init.yml
Due: test-role-control, test-playbook-control

Add hardware info to sysbench logs
  Makefile
Due: none

Create collections metadata
  ansible/galaxy.yml
Due: none

Final config polish for laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Install Google Chrome on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Provide explicit mode for copy module
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Install gnupg
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Move post-config steps out of pre_tasks
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Add nicer countdown function
  dotfiles/bash-tmux-auto/bashrc.d/tmux-auto.sh.link
Due: none

Fix syntax error for failure handlers
  Makefile
Due: none

Support different keypairs for different wireguard interfaces
  ansible/roles/wireguard/defaults/main.yml
Due: test-role-wireguard

Install Remmina on Laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Create raw image from drivers directory
  packer/windows10/Makefile
Due: none

Create proper floppy image manually
  packer/windows10/Makefile
Due: none

Enable mkfs binary lookup for regular users
  packer/windows10/Makefile
Due: none

Older drivers are not installable on Windows 20H2
  packer/windows10/Makefile
Due: none

Use shorthands for latest and stable virtio-win versions
  packer/windows10/Makefile
Due: none

Install libguestfs-tools in build environment
  packer/.test-environment/Makefile
Due: none

Use emulated IDE disk to provide virtio drivers
  packer/windows10/Makefile
  packer/windows10/autounattend.xml
  packer/windows10/packer.yml
Due: none

Set virtio disk as the first boot device in Qemu BIOS
  packer/windows10/packer.yml
Due: none

Install libguestfs-tools on lab machines
  ansible/group_vars/all.yml
Due: none

Disable basic unencrypted WinRM
  packer/windows10/initialize.ps1
  packer/windows10/packer.yml
  packer/windows10/winrm_security.cmd
Due: none

DRAFT: Example of Ansible connection to Windows machine
  ansible/windows-inventory.yml
  ansible/windows.yml
Due: none

Avoid generating invalid MAC addresses
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Install ansible on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Install Spice Viewer on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Allow forwarding via bridge interface in firewall
  ansible/roles/kvm_bridge/handlers/main.yml
  ansible/roles/kvm_bridge/tasks/main.yml
Due: test-role-kvm_bridge, test-role-virtual_machine

Allow to easily skip ufw configuration with a hostvar
  ansible/roles/canon_mf3010/molecule/default/playbook.yml
  ansible/roles/canon_mf3010/tasks/main.yml
  ansible/roles/gerbera/tasks/main.yml
  ansible/roles/morebooks/tasks/os.yml
  ansible/roles/munin_master/tasks/main.yml
  ansible/roles/munin_node/tasks/main.yml
  ansible/roles/samba/tasks/main.yml
  ansible/roles/server/tasks/security.yml
  ansible/roles/supysonic/tasks/webserver.yml
  ansible/roles/transmission/tasks/firewall.yml
  ansible/roles/wireguard/molecule/default/playbook.yml
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-canon_mf3010, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Install nmap on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Confirm shutdown success
  ansible/notify/skip.json
  ansible/shutdown.yml
Due: test-playbook-lab

Extend shutdown condition to all tasks
  ansible/shutdown.yml
Due: test-playbook-lab

Fix block syntax in Ansible playbook
  ansible/shutdown.yml
Due: test-playbook-lab

Move group_vars/all into inventory directory
  ansible/group_vars/all.yml
  ansible/inventory/group_vars/all/ansible.yml
  ansible/inventory/group_vars/all/packages.yml
  ansible/inventory/group_vars/all/vm.yml
Due: none

Create stubs for main inventory files
  ansible/inventory/groups.yml
  ansible/inventory/variables.yml
Due: none

Describe inventory/ directory
  ansible/inventory/README.md
Due: none

Reference inventory/ directory from Makefile recipes
  ansible/Makefile
Due: none

Add references to all secrets values
  ansible/inventory/groups.yml
  ansible/inventory/variables.yml
Due: none

Debian 10.8 was released
  packer/debian10/packer.yml
Due: packer-debian10, packer-debian-testing, test-role-virtual_machine

Update links to group_vars files
  ansible/roles/gerbera/molecule/default/playbook.yml
  ansible/roles/virtual_machine/molecule/default/playbook.yml
  ansible/tests/playbook-tests/molecule/laptopmini/converge.yml
Due: test-role-gerbera, test-role-virtual_machine, test-playbook-mediabox, test-playbook-laptopmini
