Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_ACTION: debian-testing
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-borg_server:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    DOCKER_HOST: tcp://docker:2375
  ...

test-playbook-control:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: control

test-playbook-mediabox:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: mediabox

Add TODO item regarding udev handler for USB removal
  ansible/roles/virtual_usb/templates/udev.rules.j2
Due: test-role-virtual_usb

Add notes about Libvirt default configuration
  ansible/roles/virtual_machine/templates/README.md
  ansible/roles/virtual_machine/templates/windows.xml.j2
Due: test-role-virtual_machine

Add docs on KSM, extend docs on cloud-init support
  ansible/roles/virtual_machine/README.md
Due: test-role-virtual_machine

Create print server virtual machine
  ansible/inventory/hosts.yml
  ansible/inventory/variables.yml
  ansible/virtual-machines.yml
Due: none

Install dependency services to be able to test systemd units
  ansible/roles/virtual_usb/molecule/default/converge.yml
Due: test-role-virtual_usb

Remove wait_for test - doesn't work in docker
  ansible/roles/saned/molecule/default/verify.yml
Due: none

Execute printer.yml tests when cups_printer role is changed
  .gitlab/ci/test-playbook.yml
Due: none

Create cups_printer role
  ansible/README.md
  ansible/roles/cups_printer/README.md
  ansible/roles/cups_printer/defaults/main.yml
  ansible/roles/cups_printer/tasks/add.yml
  ansible/roles/cups_printer/tasks/assert.yml
  ansible/roles/cups_printer/tasks/list.yml
  ansible/roles/cups_printer/tasks/main.yml
Due: none

Skip linter error for flush_handlers
  ansible/roles/virtual_usb/tasks/main.yml
Due: test-role-virtual_usb

Use newer USB controller in virtual machines
  ansible/roles/virtual_machine/defaults/main.yml
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Work around the skipped task overwriting registered variable
  ansible/roles/cups_printer/tasks/main.yml
Due: none

Turn cups_printer into a noop when executed under Molecule
  ansible/roles/cups_printer/tasks/main.yml
Due: none

Flush handlers to support multiple role invocations
  ansible/roles/virtual_usb/tasks/main.yml
Due: test-role-virtual_usb

Use cnusbufr2:// for printer URL
  ansible/printer.yml
Due: test-playbook-printer

Fix USB hotplug misbehavior with Libvirt VMs
  ansible/roles/virtual_usb/defaults/main.yml
  ansible/roles/virtual_usb/handlers/main.yml
  ansible/roles/virtual_usb/tasks/main.yml
  ansible/roles/virtual_usb/templates/hotplug.service.j2
  ansible/roles/virtual_usb/templates/udev-manage.rules.j2
  ansible/roles/virtual_usb/templates/udev-remove.rules.j2
  ansible/roles/virtual_usb/templates/udev.rules.j2
Due: test-role-virtual_usb

Use virtual device for manual tests
  ansible/roles/virtual_usb/molecule/default/converge.yml
  ansible/roles/virtual_usb/molecule/default/sample_device.xml
Due: test-role-virtual_usb

Allow saned to access printers and scanners
  ansible/roles/saned/tasks/main.yml
Due: none

Create saned role for network scanner sharing
  ansible/roles/saned/README.md
  ansible/roles/saned/defaults/main.yml
  ansible/roles/saned/handlers/main.yml
  ansible/roles/saned/tasks/assert.yml
  ansible/roles/saned/tasks/main.yml
Due: none

Retry to hotplug USB device into VM after failure
  ansible/roles/virtual_usb/templates/hotplug.service.j2
Due: test-role-virtual_usb

Add saned role to printer.yml
  .gitlab/ci/test-playbook.yml
  ansible/printer.yml
Due: test-playbook-printer

Do not leave trailing whitespace in filename
  ansible/roles/canon_mf3010/defaults/main.yml
Due: test-role-canon_mf3010, test-playbook-printer

Fix CUPS filter failure on Debian Bullseye
  ansible/roles/canon_mf3010/tasks/cups.yml
Due: test-role-canon_mf3010, test-playbook-printer

Do not try to restart masked service
  ansible/roles/saned/handlers/main.yml
Due: none

Add Canon MF3010 to print server automatically
  ansible/printer.yml
Due: test-playbook-printer

Do not fail the role on empty printer list
  ansible/roles/cups_printer/tasks/list.yml
Due: none

Add parameter validation to virtual_usb role
  ansible/roles/virtual_usb/tasks/assert.yml
  ansible/roles/virtual_usb/tasks/main.yml
Due: test-role-virtual_usb

Allow all client IPs in test instances
  ansible/roles/saned/molecule/default/converge.yml
Due: none

Notify about missing scanners with a task: changed
  ansible/roles/saned/tasks/main.yml
Due: none

Use different driver URLs for different Debian releases
  ansible/roles/canon_mf3010/defaults/main.yml
Due: test-role-canon_mf3010, test-playbook-printer

Configure USB passthrough immediately
  ansible/roles/canon_mf3010/tasks/cups.yml
  ansible/roles/virtual_usb/handlers/main.yml
  ansible/roles/virtual_usb/tasks/main.yml
Due: test-role-canon_mf3010, test-role-virtual_usb, test-playbook-printer

Change default location for hotplug device xmls
  ansible/roles/virtual_usb/defaults/main.yml
Due: test-role-virtual_usb

Check for unsupported characters in printer name
  ansible/roles/cups_printer/tasks/assert.yml
Due: none

Remove unsupported chars from CUPS printer name
  ansible/printer.yml
Due: test-playbook-printer

Allow SANE data connections in firewall
  ansible/roles/saned/tasks/conntrack.yml
  ansible/roles/saned/tasks/main.yml
Due: none

Use another switch to get printer list
  ansible/roles/cups_printer/tasks/list.yml
Due: none

Create Molecule tests for saned role
  .gitlab/ci/test-docker.yml
  ansible/README.md
  ansible/roles/saned/molecule/default/converge.yml
  ansible/roles/saned/molecule/default/molecule.yml
  ansible/roles/saned/molecule/default/verify.yml
Due: none

Tune udev rules for USB device passthrough
  ansible/roles/virtual_usb/tasks/main.yml
  ansible/roles/virtual_usb/templates/udev.rules.j2
Due: test-role-virtual_usb

Deploy new virtual machines from Bullseye image
  ansible/virtual-machines.yml
Due: none

Add printer to all.yml
  ansible/all.yml
Due: none

Do not modify root user account
  ansible/roles/borg_client/tasks/main.yml
Due: none

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-ci_runners_manager: any of: ansible/roles/ci_runners_manager/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
