Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-unattended, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_ACTION: debian-testing
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-canary:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-playbook-control:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: control

test-playbook-mediabox:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: mediabox

Reenable tests on Debian Bullseye
  ansible/tests/playbook-tests/molecule/lab/molecule.yml
Due: test-playbook-lab

Do not fail idempotence tests because of helper tasks
  ansible/tests/playbook-tests/molecule/lab/converge.yml
Due: test-playbook-lab

Do not delete autogenerated vagrant ssh keys
  ansible/tests/playbook-tests/molecule/lab/molecule.yml
Due: test-playbook-lab

Use URL with many redirects to work around SSL handshake error
  ansible/roles/munin_smart/tasks/main.yml
Due: test-role-munin_smart, test-playbook-mediabox, test-playbook-lab, test-playbook-laptopmini

Optionally allow extra ssh keys
  ansible/roles/sshkey/defaults/main.yml
  ansible/roles/sshkey/tasks/main.yml
Due: test-role-sshkey, test-playbook-control, test-playbook-mediabox, test-playbook-laptopmini

Do not fail CI because of non-responsive Fastly CDN
  ansible/lab.yml
  ansible/roles/munin_smart/molecule/default/playbook.yml
  ansible/roles/munin_smart/tasks/main.yml
Due: test-role-munin_smart, test-playbook-mediabox, test-playbook-lab, test-playbook-laptopmini

Do not cache Vagrant boxes anymore
  .cirrus.yml.j2
Due: none

Use my own updated boxes for Vagrant
  ansible/roles/control/molecule/default/molecule.yml
  ansible/roles/gerbera/molecule/default/molecule.yml
  ansible/roles/kvm_bridge/molecule/default/molecule.yml
  ansible/roles/morebooks/molecule/default/molecule.yml
  ansible/roles/munin_fdcount/molecule/default/molecule.yml
  ansible/roles/munin_master/molecule/default/molecule.yml
  ansible/roles/munin_smart/molecule/default/molecule.yml
  ansible/roles/samba/molecule/default/molecule.yml
  ansible/roles/server/molecule/default/molecule.yml
  ansible/roles/supysonic/molecule/combination-munin/molecule.yml
  ansible/roles/supysonic/molecule/default/molecule.yml
  ansible/roles/torrents_sysctl/molecule/default/molecule.yml
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
  ansible/roles/transmission/molecule/default/molecule.yml
  ansible/roles/virtual_machine/molecule/default/molecule.yml
  ansible/roles/virtual_usb/molecule/default/molecule.yml
  ansible/roles/wireguard/molecule/default/molecule.yml
  ansible/tests/playbook-tests/molecule/control/molecule.yml
  ansible/tests/playbook-tests/molecule/lab/molecule.yml
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
  ansible/tests/playbook-tests/molecule/printer/molecule.yml
Due: test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Add a better debug switch
  .cirrus.yml.j2
  ansible/tests/Makefile
Due: none

Create playbooks to enable/disable unattended upgrades
  ansible/plays/README.md
  ansible/plays/unattended-disable.yml
  ansible/plays/unattended-restore.yml
Due: none

molecule-vagrant 0.5.0 is broken with molecule 3.2.0a1
  ansible/tests/requirements.txt
Due: none

Invoke unattended after all other roles
  ansible/control.yml
  ansible/lab.yml
  ansible/mediabox.yml
  ansible/printer.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer

Do not mark waiting as change
  ansible/plays/unattended-disable.yml
Due: none

Use shorter loop output
  ansible/plays/unattended-restore.yml
Due: none

Use correct parameters with systemd module
  ansible/plays/unattended-disable.yml
  ansible/plays/unattended-restore.yml
Due: none

Disable unattended-upgrades on test instances
  ansible/roles/canary/molecule/default/prepare.yml
  ansible/roles/canon_mf3010/molecule/default/prepare.yml
  ansible/roles/control/molecule/default/prepare.yml
  ansible/roles/gerbera/molecule/default/prepare.yml
  ansible/roles/gitlab_runner/molecule/default/prepare.yml
  ansible/roles/kvm_bridge/molecule/default/prepare.yml
  ansible/roles/morebooks/molecule/default/prepare.yml
  ansible/roles/munin_fdcount/molecule/default/prepare.yml
  ansible/roles/munin_master/molecule/default/prepare.yml
  ansible/roles/munin_smart/molecule/default/prepare.yml
  ansible/roles/samba/molecule/default/prepare.yml
  ansible/roles/server/molecule/default/prepare.yml
  ansible/roles/smarttest/molecule/default/prepare.yml
  ansible/roles/supysonic/molecule/combination-munin/prepare.yml
  ansible/roles/supysonic/molecule/default/prepare.yml
  ansible/roles/torrents_sysctl/molecule/default/prepare.yml
  ansible/roles/transmission/molecule/combination-deb_url/prepare.yml
  ansible/roles/transmission/molecule/default/prepare.yml
  ansible/roles/virtual_machine/molecule/default/prepare.yml
  ansible/roles/virtual_usb/molecule/default/prepare.yml
  ansible/roles/wireguard/molecule/default/prepare.yml
  ansible/roles/wol/molecule/default/prepare.yml
  ansible/tests/playbook-tests/molecule/control/prepare.yml
  ansible/tests/playbook-tests/molecule/lab/prepare.yml
  ansible/tests/playbook-tests/molecule/laptopmini/prepare.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
  ansible/tests/playbook-tests/molecule/printer/prepare.yml
Due: test-role-canary, test-role-canon_mf3010, test-role-gitlab_runner, test-role-smarttest, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Speed up play execution by skipping facts gathering
  ansible/plays/unattended-disable.yml
  ansible/plays/unattended-restore.yml
Due: none

Force disable unattended-upgrades on test instances
  ansible/roles/canon_mf3010/molecule/default/playbook.yml
  ansible/roles/control/molecule/default/playbook.yml
  ansible/roles/gitlab_runner/molecule/default/playbook.yml
  ansible/roles/kvm_bridge/molecule/default/playbook.yml
  ansible/roles/munin_smart/molecule/default/playbook.yml
  ansible/roles/server/tasks/main.yml
  ansible/roles/smarttest/molecule/default/playbook.yml
  ansible/roles/torrents_sysctl/molecule/default/playbook.yml
  ansible/roles/virtual_machine/molecule/default/playbook.yml
  ansible/roles/wireguard/molecule/default/playbook.yml
  ansible/roles/wol/molecule/default/playbook.yml
  ansible/tasks/unattended-purge.yml
Due: test-role-canon_mf3010, test-role-gitlab_runner, test-role-smarttest, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Move base server role to the top
  ansible/control.yml
  ansible/lab.yml
  ansible/laptopmini.yml
  ansible/mediabox.yml
  ansible/morebooks.yml
  ansible/printer.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Verify history expansion to avoid undesired consequences
  dotfiles/bash/interactive
Due: none

Wait for unattended-upgrades to finish (if running)
  ansible/tasks/unattended-purge.yml
Due: none

Run CI when included tasks are modified
  .gitlab/ci/test-kvm.yml
Due: none

Install iotop on mediabox
  ansible/mediabox.yml
Due: test-playbook-mediabox

GPT has no concept of Active partition
  packer/windows10/baremetal-efi.patch
Due: none

Install rsync on mediabox
  ansible/mediabox.yml
Due: test-playbook-mediabox

Drop loop devices from drive list
  ansible/roles/smarttest/defaults/main.yml
Due: test-role-smarttest, test-playbook-mediabox, test-playbook-lab, test-playbook-laptopmini

Use match instead of regex test
  ansible/roles/smarttest/defaults/main.yml
Due: test-role-smarttest, test-playbook-mediabox, test-playbook-lab, test-playbook-laptopmini

Use specific pipeline source to decide if pipeline will be skipped
  .gitlab-ci.yml
Due: none

Pin Molecule version
  ansible/tests/requirements.txt
Due: none

Detect unreachable hosts
  ansible/unreachable.yml
Due: none

Remove debug output
  ansible/unreachable.yml
Due: none

Allow for some hosts to be unreachable
  ansible/all.yml
  ansible/laptopmini.yml
  ansible/upgrade.yml
Due: test-playbook-laptopmini

Add play names
  ansible/laptopmini.yml
  ansible/unreachable.yml
Due: test-playbook-laptopmini

Reset unreachable status cache
  ansible/wakeup.yml
Due: test-playbook-lab

Fix CI_PIPELINE_SOURCE value
  .gitlab-ci.yml
Due: none

Force non-interactive apt mode
  ansible/tests/playbook-tests/molecule/lab/prepare.yml
Due: test-playbook-lab

Add_host produced wrong results with multiple unreachable hosts
  ansible/unreachable.yml
Due: none

Create a VM for Ansible control node
  ansible/hypervisor.yml
Due: none

Provide environment variables for CI/CD entrypoint
  ansible/control.yml
  ansible/roles/control/templates/control_environment.sh
Due: test-role-control, test-playbook-control

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
