Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_ACTION: debian-testing
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-borg_server:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    DOCKER_HOST: tcp://docker:2375
  ...

test-playbook-control:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: control

test-playbook-mediabox:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: mediabox

Run systemd service under specified user account
  ansible/roles/borg_client/templates/borgmatic.service
Due: none

Create role for restic backups
  ansible/roles/restic/README.md
  ansible/roles/restic/defaults/main.yml
  ansible/roles/restic/handlers/main.yml
  ansible/roles/restic/tasks/assert.yml
  ansible/roles/restic/tasks/main.yml
  ansible/roles/restic/templates/backup.sh
  ansible/roles/restic/templates/restic.service
  ansible/roles/restic/templates/restic.timer
Due: none

Allow Jinja2 templating of docker-compose files
  ansible/roles/docker_compose/tasks/compose.yml
Due: none

Fix typo in systemd unit field
  ansible/roles/docker_compose/templates/docker_compose.service
Due: none

Use template for saned.conf
  ansible/roles/saned/tasks/main.yml
  ansible/roles/saned/templates/saned.conf
Due: none

Create tests for restic role
  .gitlab/ci/test-kvm.yml
  ansible/README.md
  ansible/roles/restic/molecule/default/compose.yml.j2
  ansible/roles/restic/molecule/default/converge.yml
  ansible/roles/restic/molecule/default/molecule.yml
  ansible/roles/restic/molecule/default/verify.yml
  ansible/roles/restic/tasks/assert.yml
  ansible/roles/restic/tasks/main.yml
  ansible/roles/restic/templates/sources.list
Due: none

New note: do not run two backups at once
  ansible/backup.yml
Due: none

Retry if socket is not freed on first restart
  ansible/roles/saned/handlers/main.yml
Due: none

Stop saned.service instead of restarting saned.socket
  ansible/roles/saned/handlers/main.yml
  ansible/roles/saned/tasks/main.yml
Due: none

Test restic role in Docker instead of Libvirt
  .gitlab/ci/test-docker.yml
  .gitlab/ci/test-kvm.yml
  ansible/README.md
  ansible/roles/restic/molecule/default/Dockerfile.j2
  ansible/roles/restic/molecule/default/compose.yml.j2
  ansible/roles/restic/molecule/default/converge.yml
  ansible/roles/restic/molecule/default/molecule.yml
  ansible/roles/restic/molecule/default/prepare.yml
  ansible/roles/restic/molecule/default/verify.yml
Due: none

Use latest Debian image in tests
  ansible/roles/virtual_machine/molecule/cloudinit/converge.yml
Due: test-role-virtual_machine

Disable unattended upgrades on CI instance
  ansible/roles/virtual_usb/molecule/default/converge.yml
Due: test-role-virtual_usb

Windows cmd does not have a nice 'sleep' command
  packer/windows10/packer.yml
Due: none

Create boot target to test Packer builds
  packer/Makefile.packer
Due: none

Notify about upcoming EOL dates
  ansible/roles/upgrade/defaults/main.yml
  ansible/roles/upgrade/tasks/assert.yml
  ansible/roles/upgrade/tasks/eol.yml
  ansible/roles/upgrade/tasks/upgrade.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Stop maintaining stable URLs for Packer artifacts
  .gitlab/ci/build.yml
  ansible/inventory/group_vars/all/vm.yml
  ansible/roles/virtual_machine/molecule/cloudinit/converge.yml
  ansible/roles/virtual_machine/molecule/default/converge.yml
Due: test-role-virtual_machine

Update table of contents
  TOC.md
Due: none

Move pipeline checking logic into Python script
  .gitlab/ci/check_pipeline.py
  .gitlab/ci/deploy-gate.yml
Due: none

Fix ImportError in check_pipeline.py
  .gitlab/ci/check_pipeline.py
Due: none

Do not assume that second pipeline is the previous one
  .gitlab/ci/check_pipeline.py
  .gitlab/ci/deploy-gate.yml
Due: none

Drop any letters from tmux version
  dotfiles/tmux/tmux.conf.link
Due: none

Update Molecule environment to Debian 11
  .cirrus.yml.j2
  .gitlab/ci/test-docker.yml
  ansible/tests/Dockerfile.host
  ansible/tests/Dockerfile.host-kvm
Due: molecule-host-alpine, molecule-host-kvm

Update Packer config for compatibility with v1.6
  packer/debian10/packer.yml
  packer/windows10/Makefile
  packer/windows10/packer.yml
Due: packer-debian10, packer-debian-testing, test-role-virtual_machine

Fix compatibility with newer Packer versions
  packer/windows10/packer.yml
Due: none

Download Packer from Hashicorp if it's not present
  packer/Makefile.packer
Due: none

Do not ever remake $(PACKER) if already exists
  packer/Makefile.packer
Due: none

Revert "Do not ever remake $(PACKER) if already exists"
  packer/Makefile.packer
Due: none

Add --all to 'graph' alias
  dotfiles/git/gitconfig.link
Due: none

Decrypting to /dev/null did not work 100% of the time
  ansible/roles/control/scripts/control-secrets-init.sh
Due: test-role-control, test-playbook-control

Canon drivers v5.10 was removed from web mirror
  ansible/roles/canon_mf3010/defaults/main.yml
Due: test-role-canon_mf3010, test-playbook-printer

Update some facts after Debian 11 release
  ansible/inventory/group_vars/all/ansible.yml
  ansible/roles/upgrade/defaults/main.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Untie Packer build config from specific Debian release
  .gitlab/ci/build.yml
  .gitlab/ci/test-kvm.yml
  packer/README.md
  packer/debian/Makefile
  packer/debian/baremetal-efi.patch
  packer/debian/baremetal.patch
  packer/debian/packer.yml
  packer/debian/preseed.cfg
Due: none

Add another possible value for QT_QPA_PLATFORMTHEME
  dotfiles/bash/env
Due: none

Disable Scroll LED indication of keyboard layout
  dotfiles/keyboard/keyboard.link
Due: none

Use stable download URL for Canon drivers
  ansible/roles/canon_mf3010/defaults/main.yml
Due: test-role-canon_mf3010, test-playbook-printer

Never fail the debug task on a technicality
  ansible/roles/wol/tasks/main.yml
Due: test-role-wol, test-playbook-mediabox, test-playbook-lab

Provide compose env values via role variables
  ansible/roles/docker_compose/defaults/main.yml
  ansible/roles/docker_compose/tasks/compose.yml
  ansible/roles/docker_compose/templates/compose.env
Due: none

Use unprivileged user for launching Docker
  ansible/roles/docker_compose/defaults/main.yml
  ansible/roles/docker_compose/tasks/compose.yml
  ansible/roles/docker_compose/tasks/main.yml
  ansible/roles/docker_compose/tasks/user.yml
  ansible/roles/docker_compose/templates/docker_compose.service
Due: none

Configure PXE server virtual machine
  .gitlab/ci/test-playbook.yml
  ansible/pxe.yml
  ansible/tests/playbook-tests/molecule/pxe/converge.yml
  ansible/tests/playbook-tests/molecule/pxe/molecule.yml
  ansible/tests/playbook-tests/molecule/pxe/prepare.yml
  ansible/tests/playbook-tests/molecule/pxe/verify.yml
Due: none

Flush handlers before going to the next role
  ansible/roles/docker_compose/tasks/main.yml
Due: none

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-ci_runners_manager: any of: ansible/roles/ci_runners_manager/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
