Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-unattended, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*

Force reboot new VMs after initialization
  cloudinit/generic.j2/user-data
Due: none

Modify mediabox-v playbook after deployment tests
  ansible/hypervisor.yml
  ansible/mediabox-v.yml
  cloudinit/generic.j2/user-data
Due: none

Increase RAM size for mediabox-v
  ansible/hypervisor.yml
Due: none

Enable tests for hypervisor-j and mediabox-v
  .gitlab/ci/test-playbook.yml
  ansible/tests/playbook-tests/molecule/hypervisor-j/converge.yml
  ansible/tests/playbook-tests/molecule/hypervisor-j/molecule.yml
  ansible/tests/playbook-tests/molecule/hypervisor-j/verify.yml
  ansible/tests/playbook-tests/molecule/mediabox-v/converge.yml
  ansible/tests/playbook-tests/molecule/mediabox-v/molecule.yml
  ansible/tests/playbook-tests/molecule/mediabox-v/prepare.yml
  ansible/tests/playbook-tests/molecule/mediabox-v/verify.yml
Due: none

Include Vagrant default key in CI runs
  ansible/tests/playbook-tests/molecule/hypervisor-j/prepare.yml
Due: none

Cleanup pre-split mediabox references
  ansible/README.md
  ansible/all.yml
  ansible/hypervisor.yml
  ansible/inventory/hosts.yml
  ansible/inventory/variables.yml
Due: none

Allow access to mount points within exported directory
  ansible/hypervisor-j.yml
Due: none

Mount NAS drives via NFS
  ansible/hypervisor-j.yml
  ansible/mediabox-v.yml
Due: none

Add inotify TODO note
  ansible/roles/gerbera/templates/config-buster.xml
Due: test-role-gerbera, test-playbook-mediabox

Increase image size for control vm
  ansible/hypervisor.yml
Due: none

Use more specific configuration path
  ansible/mediabox-v.yml
Due: none

Provide initial password for sudo-enabled account
  cloudinit/generic.j2/user-data
Due: none

Split vars between mediabox-v and hypervisor-j
  ansible/inventory/variables.yml
Due: none

Split mediabox into hypervisor-j (physical) and mediabox-v (virtual)
  ansible/hypervisor-j-hw.yml
  ansible/hypervisor-j.yml
  ansible/hypervisor.yml
  ansible/mediabox-v.yml
Due: none

Remove all implicit role dependencies
  ansible/control.yml
  ansible/hypervisor-j.yml
  ansible/mediabox-v.yml
  ansible/roles/control/meta/main.yml
  ansible/roles/control/molecule/default/converge.yml
  ansible/roles/gerbera/meta/main.yml
  ansible/roles/gerbera/molecule/default/converge.yml
  ansible/roles/morebooks/meta/main.yml
  ansible/roles/morebooks/molecule/default/converge.yml
  ansible/roles/munin_fdcount/meta/main.yml
  ansible/roles/munin_fdcount/molecule/default/converge.yml
  ansible/roles/munin_master/meta/main.yml
  ansible/roles/munin_master/molecule/default/converge.yml
  ansible/roles/munin_node/meta/main.yml
  ansible/roles/munin_smart/meta/main.yml
  ansible/roles/munin_smart/molecule/default/converge.yml
  ansible/roles/samba/meta/main.yml
  ansible/roles/samba/molecule/default/converge.yml
  ansible/roles/supysonic/meta/main.yml
  ansible/roles/supysonic/molecule/combination-munin/converge.yml
  ansible/roles/supysonic/molecule/default/converge.yml
  ansible/roles/transmission/meta/main.yml
  ansible/roles/transmission/molecule/combination-deb_url/converge.yml
  ansible/roles/transmission/molecule/default/converge.yml
Due: test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-laptopmini

Mention cloudinit usage in README
  README.md
Due: none

Bind mount application data directories
  ansible/mediabox-v.yml
Due: none

Create virtual machines with Ansible and Cloudinit
  ansible/hypervisor.yml
  cloudinit/generic.j2/README.md
  cloudinit/generic.j2/meta-data
  cloudinit/generic.j2/user-data
Due: none

Rearrange order of playbooks in the main entrypoint
  ansible/all.yml
  ansible/virtual-machines.yml
Due: none

Move venv and cache out of home directory
  ansible/roles/supysonic/defaults/main.yml
  ansible/roles/supysonic/tasks/install.yml
Due: test-role-supysonic, test-role-supysonic-munin, test-playbook-mediabox

Swith to timed updates since inotify does not work over NFS
  ansible/roles/gerbera/templates/config-buster.xml
Due: test-role-gerbera, test-playbook-mediabox

Fix template syntax error
  cloudinit/generic.j2/user-data
Due: none

Tune NFS exports
  ansible/hypervisor-j.yml
  ansible/inventory/variables.yml
Due: none

Allow root access from Mediabox to NAS
  ansible/hypervisor-j.yml
Due: none

Update media library every 5 minutes
  ansible/roles/gerbera/templates/config-buster.xml
Due: test-role-gerbera, test-playbook-mediabox

Provide more polished interactive shell sessions
  ansible/hypervisor-j.yml
  ansible/inventory/group_vars/all/packages.yml
  ansible/mediabox-v.yml
Due: none

Remove dash from DLNA server name
  ansible/roles/gerbera/templates/config-buster.xml
Due: test-role-gerbera, test-playbook-mediabox

Avoid username collision with system account
  .gitlab/ci/deploy.yml
  ansible/control.yml
Due: test-playbook-control

Do not use root account on control node
  ansible/inventory/variables.yml
Due: none

Create supysonic cache directory
  ansible/roles/supysonic/tasks/install.yml
Due: test-role-supysonic, test-role-supysonic-munin, test-playbook-mediabox

Remove plays/ directory use tasks/ instead
  ansible/plays/README.md
Due: none

Add README for cloudinit/
  cloudinit/README.md
Due: none

Do not increment nested level for sshd sessions
  dotfiles/bash/prompt
Due: none

Add interactive packages to control and lab machines
  ansible/control.yml
  ansible/lab.yml
Due: test-playbook-control, test-playbook-lab

Add reference to package lists defined in inventory
  ansible/tests/playbook-tests/molecule/control/converge.yml
  ansible/tests/playbook-tests/molecule/control/molecule.yml
Due: test-playbook-control

Handle /var/run/reboot-required with Ansible
  ansible/inventory/variables.yml
  ansible/reboot.yml
  ansible/roles/upgrade/tasks/main.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Notify about services that need to be restarted
  ansible/roles/upgrade/tasks/main.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Gather minimal subset of facts on Ansible controller
  ansible/reboot.yml
Due: none

Turn second and further role invocations into noop
  ansible/roles/upgrade/README.md
  ansible/roles/upgrade/tasks/assert.yml
  ansible/roles/upgrade/tasks/main.yml
  ansible/roles/upgrade/tasks/upgrade.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Generate readable diffs for Ansible Vault files
  dotfiles/git/gitconfig.link
Due: none
