Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian11, packer-debian-testing, molecule-host-docker, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-borg_client, test-role-control, test-role-docker_compose, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-nfs_cache, test-role-nfs_server, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-systemctl_wait, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_machine_cloudinit, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian10
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

packer-debian11:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian11
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian-testing
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:first_run[collapsed=true]\r\e[0KFirst Cirrus CI invocation"
  ...

molecule-host-docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-borg_server:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    DOCKER_HOST: tcp://docker:2375
  ...

Bake GIT_SSH script into container
  ansible/docker.yml
  compose/microblog/compose.yml
Due: none

Bake repo initialization into container
  ansible/docker.yml
  compose/microblog/compose.yml
Due: none

Use uniform variable names for secrets
  ansible/inventory/secrets.yml
Due: none

Store UID as string to suppress Ansible warning
  ansible/docker.yml
Due: none

Avoid collision with system $USER variable
  ansible/docker.yml
  compose/microblog/compose.yml
Due: none

Pass .env values to container entrypoint
  compose/microblog/compose.yml
Due: none

Deploy a container on test instance also
  ansible/docker.yml
Due: none

Restart Telegram bot automatically
  compose/microblog/compose.yml
Due: none

Add support for custom systemd dependencies to compose role
  ansible/roles/docker_compose/defaults/main.yml
  ansible/roles/docker_compose/tasks/compose.yml
  ansible/roles/docker_compose/templates/dependencies.conf
Due: test-role-docker_compose

Use sshd_config.d/ whenever possible
  ansible/roles/server/molecule/default/verify.yml
  ansible/roles/server/tasks/locale.yml
  ansible/roles/server/tasks/security.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Install sshd from backports on Buster
  ansible/roles/server/tasks/buster.yml
  ansible/roles/server/tasks/security.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Update Molecule and dependencies
  ansible/tests/requirements.txt
Due: none

Silence Ansible-lint warning about forcing a package update
  ansible/roles/server/tasks/buster.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Use AllowUsers to avoid a slow loop over /etc/passwd
  ansible/roles/sshkey/handlers/main.yml
  ansible/roles/sshkey/tasks/assert.yml
  ansible/roles/sshkey/tasks/main.yml
Due: test-role-sshkey, test-playbook-control, test-playbook-mediabox, test-playbook-laptopmini

Move sshkey role tests to Vagrant/KVM
  .gitlab/ci/test-docker.yml
  .gitlab/ci/test-kvm.yml
  ansible/README.md
  ansible/roles/sshkey/README.md
  ansible/roles/sshkey/molecule/default/converge.yml
  ansible/roles/sshkey/molecule/default/molecule.yml
  ansible/roles/sshkey/molecule/default/prepare.yml
  ansible/roles/sshkey/molecule/default/verify.yml
  ansible/roles/sshkey/tasks/assert.yml
Due: test-role-sshkey, test-playbook-control, test-playbook-mediabox, test-playbook-laptopmini

Disregard local env values in ssh client
  dotfiles/ssh-client/config.d/environment.cfg.link
Due: none

Rename included *.cfg files to *.conf
  ansible/Makefile
  ansible/README.md
  dotfiles/git-opensource/gitconfig.d/user.conf.link
  dotfiles/git/gitconfig.d/README.link
  dotfiles/git/gitconfig.link
  dotfiles/ssh-client/README.md
  dotfiles/ssh-client/config.d/environment.conf.link
  dotfiles/ssh-client/config.d/git.conf.copy
  dotfiles/ssh-client/config.link
Due: none

Move task imports behind a short-circuit clause
  ansible/roles/upgrade/tasks/main.yml
  ansible/roles/upgrade/tasks/upgrade.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Show serial console logs for Debian VM builds
  packer/cirrus.yml.j2
  packer/debian/packer.yml
Due: packer-debian10, packer-debian11, packer-debian-testing

Live stream console logs to Cirrus CI
  packer/cirrus.yml.j2
Due: none

Fix console log path
  packer/cirrus.yml.j2
Due: none

Show richer session/window menu in tmux
  dotfiles/tmux/tmux.conf.link
Due: none

tmux: Always put interactive menu on top of the screen
  dotfiles/tmux/tmux.conf.link
Due: none

Install pacman in Git for Windows (portable)
  scripts/pacman_gfw.sh
Due: none

Automatically install some missing tools
  scripts/pacman_gfw.sh
Due: none

tmux: Truncate long window titles
  dotfiles/tmux/tmux.conf.link
Due: none

Fix tmux window-status-format
  dotfiles/tmux/tmux.conf.link
Due: none

Exit early if Msys2 is not detected
  scripts/pacman_gfw.sh
Due: none

Fix msys2 detection in Git for Windows
  scripts/pacman_gfw.sh
Due: none

Enable serial console in Debian installer
  packer/debian/packer.yml
Due: packer-debian10, packer-debian11, packer-debian-testing

Remove large artifact to avoid false CI failures
  packer/cirrus.yml.j2
Due: none

Tweak Cirrus artifact size limit value
  packer/cirrus.yml.j2
Due: none

GNU find wants integer size values
  packer/cirrus.yml.j2
Due: none

Split all large qcow2 artifacts, not just Windows ones
  packer/Makefile.packer
  packer/windows10/Makefile
Due: none

Update timeouts for ongoing rate limit violations
  nftables/vpn_edge/main.nft
Due: none

Add wrapper function for simple session recording
  dotfiles/bash/aliases
Due: none

Install gnome-games on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Install icon theme on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Install Noto fonts on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Create dotfiles for gdb and readline
  dotfiles/gdb/README.md
  dotfiles/gdb/gdbinit.link
  dotfiles/readline/README.md
  dotfiles/readline/inputrc.copy
  dotfiles/readline/inputrc.d/base.conf.link
  dotfiles/topics-cli.list
Due: none

Path conditions:
  packer-debian10: any of: packer/debian/**/*
  packer-debian11: any of: packer/debian/**/*
  packer-debian-testing: any of: packer/debian/**/*
  molecule-host-docker: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-ci_runners_manager: any of: ansible/roles/ci_runners_manager/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-borg_client: any of: ansible/roles/borg_client/**/*, ansible/roles/borg_server/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-docker_compose: any of: ansible/roles/docker_compose/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-nfs_cache: any of: ansible/roles/nfs_cache/**/*, ansible/tasks/unattended-purge.yml
  test-role-nfs_server: any of: ansible/roles/nfs_server/**/*, ansible/tasks/unattended-purge.yml
  test-role-server: any of: ansible/roles/server/**/*, ansible/tasks/unattended-purge.yml
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-systemctl_wait: any of: ansible/roles/systemctl_wait/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_machine_cloudinit: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
