Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-unattended, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_ACTION: debian-testing
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-canary:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-playbook-control:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: control

test-playbook-mediabox:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: mediabox

Unify playbook header comments
  ansible/all.yml
  ansible/ci-runners.yml
  ansible/control.yml
  ansible/hypervisor-j.yml
  ansible/lab.yml
  ansible/labaie.yml
  ansible/labjay.yml
  ansible/labtee.yml
  ansible/laptopmini.yml
  ansible/morebooks.yml
  ansible/printer.yml
  ansible/shutdown.yml
  ansible/unreachable.yml
  ansible/upgrade.yml
  ansible/virtual-machines.yml
  ansible/wakeup.yml
Due: test-playbook-control, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Wait for VM initialization
  ansible/virtual-machines.yml
Due: none

Install scanning tools on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Install Atheros firmware for the Ethernet controller
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Avoid red output in stdout
  ansible/unreachable.yml
Due: none

Do not notify about changes when detecting unreachable
  ansible/notify/skip.json
Due: none

Install hardware video acceleration drivers
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Non-free driver conflicts with the free one
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Install iperf3 everywhere
  ansible/hypervisor-j.yml
  ansible/inventory/group_vars/all/packages.yml
  ansible/laptopmini.yml
  ansible/mediabox-v.yml
Due: test-playbook-laptopmini

Always call get_url with retries configured
  ansible/roles/canon_mf3010/tasks/drivers.yml
  ansible/roles/ci_runners_manager/tasks/install.yml
  ansible/roles/deb_url/tasks/main.yml
  ansible/roles/docker_compose/tasks/compose.yml
  ansible/roles/gitlab_runner/tasks/install.yml
  ansible/roles/munin_fdcount/tasks/main.yml
  ansible/roles/munin_smart/tasks/main.yml
  ansible/roles/supysonic/tasks/webserver.yml
  ansible/roles/virtual_machine/tasks/main.yml
  ansible/tests/playbook-tests/molecule/hypervisor-j/prepare.yml
  ansible/tests/playbook-tests/molecule/laptopmini/prepare.yml
  ansible/tests/playbook-tests/molecule/mediabox-v/prepare.yml
Due: test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-munin_fdcount, test-role-munin_smart, test-role-supysonic, test-role-supysonic-munin, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Add TODO item
  dotfiles/README.md
Due: none

Do not enforce 0755 permissions on samba shares
  ansible/roles/samba/tasks/main.yml
Due: test-role-samba, test-playbook-mediabox

Add TODO (support for systemd-networkd)
  ansible/roles/kvm_bridge/defaults/main.yml
Due: test-role-kvm_bridge, test-role-virtual_machine

Temporarily disable labaie, corrupted OS drive
  ansible/inventory/hosts.yml
  ansible/inventory/variables.yml
  ansible/lab.yml
Due: test-playbook-lab

Detect --limit hosts when running a playbook
  ansible/reboot.yml
Due: none

Track downtimes and uptimes on all machines
  ansible/roles/server/defaults/main.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Enable persistent systemd journal
  ansible/roles/server/handlers/main.yml
  ansible/roles/server/tasks/security.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Use chrony instead of ntpd
  ansible/roles/server/defaults/main.yml
  ansible/roles/server/tasks/timekeeping.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Combine repeated tasks into one entry
  ansible/notify/detect_changes.py
Due: none

Use 256 color palette for prompt (if supported)
  dotfiles/bash/prompt
Due: none

Trim leading zeroes from hash number
  dotfiles/bash/prompt
Due: none

Explain palette selection for prompt
  dotfiles/bash/colors/256color.png
  dotfiles/bash/colors/256to8color.png
  dotfiles/bash/colors/README.md
  dotfiles/bash/colors/selected.png
Due: none

Remove extremely bright colors from palette
  dotfiles/bash/prompt
Due: none

Format palette to nice columns
  dotfiles/bash/prompt
Due: none

Remove outdated comment
  dotfiles/bash/prompt
Due: none

Prepend 1 to any hash starting with zero
  dotfiles/bash/prompt
Due: none

Remove colors that are not easily readable on light background
  dotfiles/bash/prompt
Due: none

Mount application directories directly via NFS without bind mounts
  ansible/mediabox-v.yml
Due: none

Configure RequiresMountsFor in custom systemd units
  ansible/roles/supysonic/templates/watcher.service.j2
  ansible/roles/transmission/templates/daemon.service.j2
Due: test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Install netcat-openbsd on hypervisor
  ansible/roles/virtual_machine/tasks/main.yml
Due: test-role-virtual_machine

Use soft NFS mounts on mediabox
  ansible/mediabox-v.yml
Due: none

Enable 256 color palette in Tmux
  dotfiles/bash/aliases
Due: none

Add Debian 11 to the list of tested platforms
  ansible/roles/transmission/molecule/combination-deb_url/converge.yml
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
  ansible/roles/transmission/molecule/combination-deb_url/verify.yml
Due: test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Provide prebuilt Transmission packages for Debian 11
  ansible/mediabox-v.yml
Due: none

Fix assignment of test inventory variables
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
Due: test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Use tabs instead of spaces in Go
  dotfiles/vim/vim/config/filetypes.vim.link
Due: none

Skip lab hosts that are marked as offline
  ansible/lab.yml
  ansible/labaie.yml
  ansible/labjay.yml
  ansible/labtee.yml
Due: test-playbook-lab

Revert "Temporarily disable labaie, corrupted OS drive"
  ansible/inventory/hosts.yml
  ansible/inventory/variables.yml
  ansible/lab.yml
Due: test-playbook-lab

Take the whole lab offline for maintenance
  ansible/inventory/hosts.yml
Due: none

Use explicit names in all Ansible plays
  ansible/ci-runners.yml
  ansible/control.yml
  ansible/hypervisor-j-hw.yml
  ansible/hypervisor-j.yml
  ansible/lab.yml
  ansible/labaie.yml
  ansible/labjay.yml
  ansible/labtee.yml
  ansible/mediabox-v.yml
  ansible/morebooks.yml
  ansible/printer.yml
  ansible/virtual-machines.yml
Due: test-playbook-control, test-playbook-lab, test-playbook-printer

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
