Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-unattended, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_ACTION: debian-testing
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-canary:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-playbook-control:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: control

test-playbook-mediabox:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: mediabox

Use latest Debian release as base image
  packer/isorepack/Makefile
Due: none

Add interactive tools
  README.md
Due: none

Bump copyright year
  README.md
Due: none

Add link to Openstack images for all distros
  ansible/roles/virtual_machine/README.md
Due: test-role-virtual_machine

Debian 10.10 was released
  packer/debian10/packer.yml
  packer/isorepack/Makefile
Due: packer-debian10, packer-debian-testing, test-role-virtual_machine

Move fact gathering into a separate play
  ansible/reboot.yml
Due: none

Refine selection of which machines to reboot
  ansible/reboot.yml
Due: none

Add empty unreachable group to the inventory
  ansible/inventory/hosts.yml
Due: none

Reenable lab machines, replace labjay with labxeo
  ansible/inventory/hosts.yml
  ansible/inventory/variables.yml
  ansible/lab.yml
  ansible/labxeo.yml
  ansible/mediabox-v.yml
Due: test-playbook-lab

Install rsync on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Install sshpass on control and laptopmini
  ansible/laptopmini.yml
  ansible/roles/control/defaults/main.yml
Due: test-role-control, test-playbook-control, test-playbook-laptopmini

Install some packages on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Create playbook for seedbox
  ansible/seedbox.yml
Due: none

Connect seedbox to home network
  ansible/seedbox-proxy.yml
  ansible/seedbox.yml
Due: none

Create seedbox-proxy virtual machine
  ansible/virtual-machines.yml
Due: none

New alias: patient ssh for reboots
  dotfiles/bash/aliases
Due: none

Install asciinema on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Create stubs for backup management
  ansible/backup.yml
  ansible/roles/borg_client/README.md
  ansible/roles/borg_server/README.md
Due: none

Create borg_server role
  ansible/roles/borg_server/defaults/main.yml
  ansible/roles/borg_server/tasks/assert.yml
  ansible/roles/borg_server/tasks/main.yml
Due: none

Add tests for borg_backup role
  .gitlab/ci/test-docker.yml
  ansible/roles/borg_server/molecule/default/converge.yml
  ansible/roles/borg_server/molecule/default/molecule.yml
  ansible/roles/borg_server/molecule/default/verify.yml
Due: none

Create borg_client role
  ansible/roles/borg_client/defaults/main.yml
  ansible/roles/borg_client/handlers/main.yml
  ansible/roles/borg_client/tasks/assert.yml
  ansible/roles/borg_client/tasks/main.yml
  ansible/roles/borg_client/templates/borgmatic.service
  ansible/roles/borg_client/templates/borgmatic.timer
  ansible/roles/borg_client/templates/borgmatic.yml
Due: none

Add molecule tests for borg_client role
  .gitlab/ci/test-kvm.yml
  ansible/roles/borg_client/molecule/default/converge.yml
  ansible/roles/borg_client/molecule/default/molecule.yml
  ansible/roles/borg_client/molecule/default/verify.yml
Due: none

Create server before creating the client
  ansible/roles/borg_client/molecule/default/converge.yml
Due: none

Fix idempotence error, do not overwrite CI keys
  ansible/roles/borg_client/molecule/default/converge.yml
Due: none

Do not repeat the code for fetching Vagrant key
  ansible/tasks/vagrant-insecure.yml
  ansible/tests/playbook-tests/molecule/hypervisor-j/prepare.yml
  ansible/tests/playbook-tests/molecule/laptopmini/prepare.yml
  ansible/tests/playbook-tests/molecule/mediabox-v/prepare.yml
Due: test-playbook-laptopmini

Put default Vagrant key on test instances
  ansible/roles/borg_client/molecule/default/converge.yml
  ansible/roles/borg_client/molecule/default/prepare.yml
Due: none

Provide explicit directory permissions for /etc/borgmatic
  ansible/roles/borg_client/tasks/main.yml
Due: none

Do not bother with key management on CI instances
  ansible/roles/borg_client/molecule/default/converge.yml
  ansible/roles/borg_client/molecule/default/prepare.yml
Due: none

Verify connectivity between client and server
  ansible/roles/borg_client/molecule/default/verify.yml
Due: none

Wait for test backup to complete
  ansible/roles/borg_client/molecule/default/verify.yml
Due: none

Disable host key verification in CI
  ansible/roles/borg_client/molecule/default/verify.yml
Due: none

Systemd is unable to resolve env variables in ExecStart
  ansible/roles/borg_client/templates/borgmatic.service
Due: none

Refine failure detection in CI tests
  ansible/roles/borg_client/molecule/default/verify.yml
Due: none

Systemd failed to parse comments on the same line
  ansible/roles/borg_client/templates/borgmatic.service
Due: none

Do not suppress error messages from ssh client
  ansible/roles/borg_client/molecule/default/verify.yml
Due: none

Show more debug information on borgmatic.service failure
  ansible/roles/borg_client/molecule/default/verify.yml
Due: none

Disable firewall (rate-limits) on test instances
  ansible/roles/borg_client/molecule/default/converge.yml
Due: none

Verify test backups after creation
  ansible/roles/borg_client/molecule/default/verify.yml
Due: none

Add TODO items for Windows VM configuration
  ansible/roles/virtual_machine/templates/windows.xml.j2
Due: test-role-virtual_machine

Do not stop VM from booting if USB device is not available
  ansible/roles/virtual_usb/templates/device.xml.j2
Due: test-role-virtual_usb

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
