Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-ci_runners_manager: any of: ansible/roles/ci_runners_manager/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*

Force English locale when running check-support-status
  ansible/roles/upgrade/tasks/support.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Clarify header comment for AWK script
  ansible/roles/upgrade/templates/support_info_to_yaml.awk
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Split secret references and variable definitions in inventory
  ansible/inventory/secrets.yml
  ansible/inventory/variables.yml
Due: none

Include inventory variables for laptopmini
  ansible/tests/playbook-tests/molecule/laptopmini/converge.yml
Due: test-playbook-laptopmini

Copy variables from inventory/variables.yml
  ansible/tests/playbook-tests/molecule/laptopmini/converge.yml
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
Due: test-playbook-laptopmini

Detect retryable errors in Cirrus CI (flaky runs)
  .gitlab/ci/build.yml
  .gitlab/ci/cirrus-retry-patterns.txt
  .gitlab/ci/test-kvm.yml
Due: none

Increase Cirrus CI job timeout from 60m to 80m
  .cirrus.yml.j2
Due: none

Fix exclamation mark YAML ambiguity
  .gitlab/ci/build.yml
  .gitlab/ci/test-kvm.yml
Due: none

Add 'until' condition wherever 'retries' is in use
  ansible/pxe.yml
  ansible/roles/canon_mf3010/tasks/drivers.yml
  ansible/roles/ci_runners_manager/tasks/install.yml
  ansible/roles/deb_url/tasks/main.yml
  ansible/roles/docker_compose/tasks/compose.yml
  ansible/roles/gitlab_runner/tasks/install.yml
  ansible/roles/munin_fdcount/tasks/main.yml
  ansible/roles/munin_smart/tasks/main.yml
  ansible/roles/supysonic/tasks/webserver.yml
  ansible/roles/virtual_machine/tasks/main.yml
  ansible/tasks/vagrant-insecure.yml
Due: test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-munin_fdcount, test-role-munin_smart, test-role-supysonic, test-role-supysonic-munin, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Allow first cirrus-run to fail
  .gitlab/ci/build.yml
  .gitlab/ci/test-kvm.yml
Due: none

Add more retryable error markers for Cirrus CI
  .gitlab/ci/cirrus-retry-patterns.txt
Due: none

Use another way to suppress job failure on non-zero rc
  .gitlab/ci/build.yml
  .gitlab/ci/test-kvm.yml
Due: none

Show less messages in debug mode (Libvirt)
  .cirrus.yml.j2
  ansible/tests/Makefile
Due: none

Collapse Cirrus CI logs by default in GitLab UI
  .gitlab/ci/build.yml
  .gitlab/ci/test-kvm.yml
Due: none

Limit key lifetime in ssh-agent to 12 hours by default
  dotfiles/bash/aliases
Due: none

Never modify /etc/sudoers directly
  ansible/lab.yml
Due: test-playbook-lab

Provide explicit value for bridge MAC address
  ansible/roles/kvm_bridge/tasks/main.yml
Due: test-role-kvm_bridge, test-role-virtual_machine

Do not use obsolete package name for Qemu
  ansible/inventory/group_vars/all/packages.yml
Due: none

Keep labxeo fans quiet
  ansible/labxeo-fan.yml
  ansible/labxeo.yml
Due: test-playbook-lab

Provide inline WSGI script for Supysonic
  ansible/roles/supysonic/tasks/webserver.yml
Due: test-role-supysonic, test-role-supysonic-munin, test-playbook-mediabox

Create virtual environment if Ansible is not installed
  ansible/Makefile
  ansible/requirements.txt
Due: none

Useful files for one-off manual tests
  ansible/tests/snippets/README
  ansible/tests/snippets/libvirt-on-localhost-inventory.yml
  ansible/tests/snippets/libvirt-on-localhost.yml
Due: none

Use non-virtual package names for KVM
  ansible/roles/virtual_machine/tasks/main.yml
  ansible/tests/Dockerfile.host-kvm
Due: molecule-host-kvm, test-role-virtual_machine

Setup script for Azure one-off VMs
  ansible/tests/snippets/azure-vm-setup.sh
Due: none

Pass username as command line argument
  ansible/tests/snippets/azure-vm-setup.sh
Due: none

Add one more retriable CI failure marker
  .gitlab/ci/cirrus-retry-patterns.txt
Due: none

Correctly propagate failure on non-retriable errors
  .gitlab/ci/build.yml
  .gitlab/ci/test-kvm.yml
Due: none

Do not hardcode image name, use numerical index
  packer/windows10/autounattend.xml
Due: none

Fix a typo in samba share name
  ansible/hypervisor-j.yml
Due: none

Move flaky run detection into cirrus-run
  .gitlab/ci/build.yml
  .gitlab/ci/test-kvm.yml
Due: none

Debian 11.2 was released
  packer/debian/Makefile
Due: none

Check for packages in odd states
  ansible/roles/upgrade/tasks/dpkg.yml
  ansible/roles/upgrade/tasks/main.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Add another marker of flaky CI run
  .gitlab/ci/cirrus-retry-patterns.txt
Due: none

Create new role for managing apt repos
  ansible/roles/aptrepo/README.md
  ansible/roles/aptrepo/defaults/main.yml
  ansible/roles/aptrepo/tasks/assert.yml
  ansible/roles/aptrepo/tasks/key.yml
  ansible/roles/aptrepo/tasks/main.yml
  ansible/roles/aptrepo/tasks/sources.yml
  ansible/roles/aptrepo/templates/deb822.sources
Due: none

Run tests for aptrepo role
  .gitlab/ci/test-docker.yml
  ansible/README.md
  ansible/roles/aptrepo/molecule/default/converge.yml
  ansible/roles/aptrepo/molecule/default/molecule.yml
  ansible/roles/aptrepo/molecule/default/verify.yml
Due: none

Fix usage example in Molecule test
  ansible/roles/aptrepo/README.md
  ansible/roles/aptrepo/molecule/default/converge.yml
  ansible/roles/aptrepo/tasks/sources.yml
Due: none

Reformat the README
  ansible/roles/aptrepo/README.md
Due: none

Force 'stable' for Google Chrome repo in tests
  ansible/roles/aptrepo/molecule/default/converge.yml
Due: none

Print more debug output in test runs
  ansible/roles/aptrepo/molecule/default/verify.yml
Due: none

Add non-free repo to test cases
  ansible/roles/aptrepo/molecule/default/converge.yml
  ansible/roles/aptrepo/molecule/default/verify.yml
Due: none
