Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian11, packer-debian-testing, molecule-host-docker, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-borg_client, test-role-control, test-role-docker_compose, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-nfs_cache, test-role-nfs_server, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-systemctl_wait, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_machine_cloudinit, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Path conditions:
  packer-debian10: any of: packer/debian/**/*
  packer-debian11: any of: packer/debian/**/*
  packer-debian-testing: any of: packer/debian/**/*
  molecule-host-docker: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-ci_runners_manager: any of: ansible/roles/ci_runners_manager/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-borg_client: any of: ansible/roles/borg_client/**/*, ansible/roles/borg_server/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-docker_compose: any of: ansible/roles/docker_compose/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-nfs_cache: any of: ansible/roles/nfs_cache/**/*, ansible/tasks/unattended-purge.yml
  test-role-nfs_server: any of: ansible/roles/nfs_server/**/*, ansible/tasks/unattended-purge.yml
  test-role-server: any of: ansible/roles/server/**/*, ansible/tasks/unattended-purge.yml
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-systemctl_wait: any of: ansible/roles/systemctl_wait/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_machine_cloudinit: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*

Never attempt ssh password auth by default
  dotfiles/ssh-client/config.link
Due: none

Do not remove Yandex terraform config after each run
  terraform/playground/Makefile
Due: none

Avoid ambiguity with YAML octal numbers
  ansible/roles/cloudflare_tunnel/tasks/tunnel.yml
  ansible/tests/playbook-tests/molecule/vpn-family/prepare.yml
Due: none

Add support for multiple CLI arguments with the same name
  ansible/roles/gitlab_runner/templates/register-runners.sh
Due: test-role-gitlab_runner, test-playbook-control

Provide suggestions for git-identity values
  dotfiles/bash/aliases
Due: none

Install commonly used apps on temp workstation
  terraform/playground/setup.sh
  terraform/playground/workstation.tf
  terraform/playground/workstation.yml
Due: none

Update local ssh client configuration with instance IP
  terraform/playground/ssh_client.conf
  terraform/playground/workstation.tf
Due: none

Automatically disable search highlights when entering Insert mode
  dotfiles/vim/vim/config/potyarkin.vim.link
Due: none

Do not jump cursor when trimming trailing space
  dotfiles/vim/vim/config/potyarkin.vim.link
Due: none

Use local variable scope instead of global (default)
  dotfiles/vim/vim/config/potyarkin.vim.link
Due: none

Initialize variable in all buffers
  dotfiles/vim/vim/config/potyarkin.vim.link
Due: none

Debian 11.7 was released
  packer/debian/Makefile
Due: packer-debian10, packer-debian11, packer-debian-testing

Do not mess with block inserts
  dotfiles/vim/vim/config/potyarkin.vim.link
Due: none

Reset sentinel variable after leaving insert mode
  dotfiles/vim/vim/config/potyarkin.vim.link
Due: none

Redeploy gitlab-runners-fleet from version 3
  ansible/docker.yml
  ansible/inventory/secrets.yml
  ansible/inventory/variables.yml
  ansible/tests/playbook-tests/molecule/docker/molecule.yml
  compose/ci-runners/compose.yml
Due: none

Create docker images for Debian Bookworm
  .gitlab/ci/build.yml
  ansible/tests/Dockerfile.debian12
  ansible/tests/Dockerfile.debian12-systemd
Due: none

Change docker tag format for 'debian11'
  .gitlab/ci/build.yml
  ansible/roles/aptrepo/molecule/default/molecule.yml
  ansible/roles/borg_server/molecule/default/molecule.yml
  ansible/roles/canary/molecule/default/molecule.yml
  ansible/roles/canon_mf3010/molecule/default/molecule.yml
  ansible/roles/ci_runners_manager/molecule/default/molecule.yml
  ansible/roles/cloudflare_tunnel/molecule/default/molecule.yml
  ansible/roles/deb_url/molecule/default/molecule.yml
  ansible/roles/gitlab_runner/molecule/default/molecule.yml
  ansible/roles/interactive/molecule/default/molecule.yml
  ansible/roles/motd/molecule/default/molecule.yml
  ansible/roles/packages/molecule/default/molecule.yml
  ansible/roles/restic/molecule/default/molecule.yml
  ansible/roles/saned/molecule/default/molecule.yml
  ansible/roles/smarttest/molecule/default/molecule.yml
  ansible/roles/wol/molecule/default/molecule.yml
  ansible/tests/Dockerfile.debian11
  ansible/tests/Dockerfile.debian11-systemd
Due: test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-wol, test-role-borg_client, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Remove outdated and useless meta/main.yml
  ansible/roles/canon_mf3010/meta/main.yml
  ansible/roles/control/meta/main.yml
  ansible/roles/gerbera/meta/main.yml
  ansible/roles/grub/meta/main.yml
  ansible/roles/initrd/meta/main.yml
  ansible/roles/kvm_bridge/meta/main.yml
  ansible/roles/morebooks/meta/main.yml
  ansible/roles/munin_fdcount/meta/main.yml
  ansible/roles/munin_master/meta/main.yml
  ansible/roles/munin_node/meta/main.yml
  ansible/roles/munin_smart/meta/main.yml
  ansible/roles/samba/meta/main.yml
  ansible/roles/server/meta/main.yml
  ansible/roles/sshkey/meta/main.yml
  ansible/roles/supysonic/meta/main.yml
  ansible/roles/torrents_sysctl/meta/main.yml
  ansible/roles/transmission/meta/main.yml
  ansible/roles/virtual_machine/meta/main.yml
Due: test-role-canon_mf3010, test-role-sshkey, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_machine_cloudinit, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Use bullseye as fallback repo for GitLab runner
  ansible/roles/gitlab_runner/defaults/main.yml
Due: test-role-gitlab_runner, test-playbook-control

Make Debian codename resolution more readable
  ansible/inventory/group_vars/all/ansible.yml
Due: none

Install lsb-release on Debian Testing
  ansible/tests/Dockerfile.debian12
  ansible/tests/Dockerfile.debian12-systemd
Due: none

Add driver link for Debian Bookworm
  ansible/roles/canon_mf3010/defaults/main.yml
Due: test-role-canon_mf3010, test-playbook-printer

Add borg_client tests for Debian 12
  ansible/roles/borg_client/molecule/default/molecule.yml
Due: test-role-borg_client

Create configuration template for bookworm
  ansible/roles/gerbera/templates/config-bookworm.xml
Due: test-role-gerbera, test-playbook-mediabox

Add TODO item for Transmission on Bookworm
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
Due: test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Split ansible-lint configuration into its own file
  ansible/.ansible-lint
  ansible/tests/molecule.yml
Due: none

Switch to rule names for Ansible-lint
  ansible/roles/aptrepo/tasks/key.yml
  ansible/roles/aptrepo/tasks/sources.yml
  ansible/roles/wireguard/tasks/main.yml
Due: test-role-wireguard

Do not test custom transmission packages on Bookworm
  ansible/roles/transmission/molecule/combination-deb_url/molecule.yml
Due: test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Bookworm introduces new config: /etc/nfs.conf
  ansible/roles/nfs_server/tasks/nfs.yml
Due: test-role-nfs_server

Use newer linter hints for skipping errors
  ansible/roles/supysonic/tasks/supysonic.yml
  ansible/roles/transmission/tasks/install.yml
Due: test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-mediabox

Delete proof-of-concept version of CI runners manager
  .gitlab/ci/test-docker.yml
  TOC.md
  ansible/README.md
  ansible/ci-runners.yml
  ansible/inventory/secrets.yml
  ansible/roles/ci_runners_manager/README.md
  ansible/roles/ci_runners_manager/defaults/main.yml
  ansible/roles/ci_runners_manager/handlers/main.yml
  ansible/roles/ci_runners_manager/molecule/default/converge.yml
  ansible/roles/ci_runners_manager/molecule/default/molecule.yml
  ansible/roles/ci_runners_manager/molecule/default/verify.yml
  ansible/roles/ci_runners_manager/tasks/assert.yml
  ansible/roles/ci_runners_manager/tasks/install.yml
  ansible/roles/ci_runners_manager/tasks/main.yml
  ansible/roles/ci_runners_manager/tasks/users.yml
  ansible/roles/ci_runners_manager/templates/environment.j2
Due: test-role-ci_runners_manager

Use lowercase time values for 'restic forget'
  ansible/roles/restic/templates/backup.sh
Due: none

Increase disk size on laptopmini test instances
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
Due: test-playbook-laptopmini

Make sure cron is always available
  ansible/roles/server/defaults/main.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Do not mount cgroups filesystem into container
  ansible/roles/borg_server/molecule/default/molecule.yml
  ansible/roles/canary/molecule/default/molecule.yml
  ansible/roles/canon_mf3010/molecule/default/molecule.yml
  ansible/roles/ci_runners_manager/molecule/default/molecule.yml
  ansible/roles/cloudflare_tunnel/molecule/default/molecule.yml
  ansible/roles/gitlab_runner/molecule/default/molecule.yml
  ansible/roles/restic/molecule/default/molecule.yml
  ansible/roles/saned/molecule/default/molecule.yml
  ansible/roles/smarttest/molecule/default/molecule.yml
  ansible/roles/wol/molecule/default/molecule.yml
  ansible/tests/README.md
Due: test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-gitlab_runner, test-role-smarttest, test-role-wol, test-role-borg_client, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Use correct syntax for disk size
  ansible/tests/playbook-tests/molecule/laptopmini/molecule.yml
Due: test-playbook-laptopmini

Set hostname in Packer without relying on DHCP/DNS
  packer/debian/preseed.cfg
Due: packer-debian10, packer-debian11, packer-debian-testing

Explicitly set locale on Molecule test runner
  .cirrus.yml.j2
  .gitlab/ci/test-docker.yml
  ansible/Makefile
Due: none

Remove supysonic role
  .gitlab/ci/test-kvm.yml
  .gitlab/ci/test-playbook.yml
  TOC.md
  ansible/README.md
  ansible/mediabox-v.yml
  ansible/roles/supysonic/README.md
  ansible/roles/supysonic/defaults/main.yml
  ansible/roles/supysonic/handlers/main.yml
  ansible/roles/supysonic/molecule/combination-munin/converge.yml
  ansible/roles/supysonic/molecule/combination-munin/molecule.yml
  ansible/roles/supysonic/molecule/combination-munin/prepare.yml
  ansible/roles/supysonic/molecule/combination-munin/verify.yml
  ansible/roles/supysonic/molecule/default/converge.yml
  ansible/roles/supysonic/molecule/default/molecule.yml
  ansible/roles/supysonic/molecule/default/prepare.yml
  ansible/roles/supysonic/molecule/default/verify.yml
  ansible/roles/supysonic/tasks/assert.yml
  ansible/roles/supysonic/tasks/install.yml
  ansible/roles/supysonic/tasks/main.yml
  ansible/roles/supysonic/tasks/ssl.yml
  ansible/roles/supysonic/tasks/supysonic.yml
  ansible/roles/supysonic/tasks/watcher.yml
  ansible/roles/supysonic/tasks/webserver.yml
  ansible/roles/supysonic/templates/apache.conf.j2
  ansible/roles/supysonic/templates/supysonic.conf.j2
  ansible/roles/supysonic/templates/watcher.service.j2
Due: test-role-supysonic, test-role-supysonic-munin, test-playbook-mediabox
