Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-unattended, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*

Require backports repo on Debian 10
  ansible/roles/nfs_cache/defaults/main.yml
  ansible/roles/nfs_cache/tasks/packages.yml
Due: none

Use correct argument names for template module
  ansible/roles/nfs_server/tasks/nfs.yml
Due: none

Add CI tests for nfs_cache role
  .gitlab/ci/test-kvm.yml
  ansible/roles/nfs_cache/molecule/default/molecule.yml
  ansible/roles/nfs_cache/molecule/default/playbook.yml
  ansible/roles/nfs_cache/molecule/default/verify.yml
  ansible/roles/nfs_cache/tasks/packages.yml
Due: none

Do not try to configure firewall on test instances
  ansible/roles/nfs_server/molecule/default/playbook.yml
Due: none

Configure NFSv4 server for LAN file sharing
  ansible/roles/nfs_server/README.md
  ansible/roles/nfs_server/defaults/main.yml
  ansible/roles/nfs_server/handlers/main.yml
  ansible/roles/nfs_server/tasks/assert.yml
  ansible/roles/nfs_server/tasks/main.yml
  ansible/roles/nfs_server/tasks/nfs.yml
  ansible/roles/nfs_server/tasks/packages.yml
  ansible/roles/nfs_server/templates/exports.j2
Due: none

Disable SELinux settings on Debian host
  ansible/roles/nfs_cache/templates/cachefilesd.conf
Due: none

Add a customizable cache tag
  ansible/roles/nfs_cache/defaults/main.yml
  ansible/roles/nfs_cache/templates/cachefilesd.conf
Due: none

Add delay at the start of cachefilesd
  ansible/roles/nfs_cache/tasks/nfs.yml
Due: none

Rename deprecated Molecule files
  ansible/roles/nfs_cache/molecule/default/converge.yml
  ansible/roles/nfs_server/molecule/default/converge.yml
Due: none

Document test status for new roles
  ansible/README.md
Due: none

Update table of contents
  TOC.md
Due: none

Install terminal type definitions on interactive machines
  ansible/inventory/group_vars/all/packages.yml
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Mention test setup for 'control' role
  ansible/README.md
Due: none

Debian 10.9 was released
  packer/debian10/packer.yml
Due: packer-debian10, packer-debian-testing, test-role-virtual_machine

Provide sensible default value for virtual_machine_cloudinit_iso
  ansible/roles/virtual_machine/defaults/main.yml
  ansible/roles/virtual_machine/molecule/cloudinit/converge.yml
  ansible/roles/virtual_machine/tasks/cloudinit.yml
Due: test-role-virtual_machine

Increase default boot timeout to 300 seconds
  ansible/wakeup.yml
Due: test-playbook-lab

Disable unattended upgrades to avoid dpkg lockups
  ansible/roles/control/molecule/default/converge.yml
  ansible/roles/control/molecule/default/prepare.yml
  ansible/roles/morebooks/molecule/default/prepare.yml
  ansible/roles/supysonic/molecule/combination-munin/prepare.yml
  ansible/roles/supysonic/molecule/default/prepare.yml
  ansible/roles/transmission/molecule/combination-deb_url/converge.yml
  ansible/tests/playbook-tests/molecule/laptopmini/prepare.yml
  ansible/tests/playbook-tests/molecule/mediabox/prepare.yml
  ansible/tests/playbook-tests/molecule/printer/prepare.yml
Due: test-role-control, test-role-morebooks, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-printer, test-playbook-laptopmini

Detect latest daily cloud image version
  ansible/plugins/lookup/debian_cloud_image.py
Due: none

Finish image detection functionality
  ansible/plugins/lookup/debian_cloud_image.py
Due: none

Add Ansible plugin skeleton
  ansible/plugins/lookup/debian_cloud_image.py
Due: none

Fix non-working Ansible plugin invocation
  ansible/Makefile
  ansible/plugins/lookup/debian_cloud_image.py
Due: none

Add plugin documentation
  ansible/plugins/lookup/debian_cloud_image.py
Due: none

Restore consecutive numbering after window deletion
  dotfiles/tmux/tmux.conf.link
Due: none

Update Molecule used in CI runs
  ansible/tests/requirements.txt
Due: none

Move MAC address calculation out of templates
  ansible/roles/virtual_machine/defaults/main.yml
  ansible/roles/virtual_machine/templates/domain.xml.j2
  ansible/roles/virtual_machine/templates/windows.xml.j2
Due: test-role-virtual_machine

Avoid SSH timeouts on long running upgrades
  ansible/roles/upgrade/tasks/main.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Prepare system for graphics card passthrough
  scripts/vfio_gfx_prepare.py
Due: none

Add notes on further improvement
  scripts/vfio_gfx_prepare.py
Due: none

Fix error in /sys path
  scripts/vfio_gfx_prepare.py
Due: none

Detect current driver in use by PCI device
  scripts/vfio_gfx_prepare.py
Due: none

Fix minor implementation and syntax errors
  scripts/vfio_gfx_prepare.py
Due: none

Add CLI arguments parsing and validation
  scripts/vfio_gfx_prepare.py
Due: none

Add optional logging to stdout
  scripts/vfio_gfx_prepare.py
Due: none

Show nice error messages instead of tracebacks
  scripts/vfio_gfx_prepare.py
Due: none

Skip consoles that are already disabled
  scripts/vfio_gfx_prepare.py
Due: none

Use f-strings for templating
  scripts/vfio_gfx_prepare.py
Due: none

Treat dashes and underscores as interchangeable in kmod names
  scripts/vfio_gfx_prepare.py
Due: none

Provide vendor ID for Windows virtual machines
  ansible/roles/virtual_machine/templates/windows.xml.j2
Due: test-role-virtual_machine

Allow providing raw exports strings for more complex shares
  ansible/roles/nfs_server/defaults/main.yml
  ansible/roles/nfs_server/templates/exports.j2
Due: none

Set root password if specified in Ansible inventory
  cloudinit/generic.j2/user-data
Due: none
