Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-unattended, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_ACTION: debian-testing
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-canary:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-playbook-control:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: control

test-playbook-mediabox:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: mediabox

Skip ansible-lint 5.0.0 because of upstream bug
  ansible/tests/requirements.txt
Due: none

Include variables from inventory base
  ansible/tests/playbook-tests/molecule/mediabox/converge.yml
  ansible/tests/playbook-tests/molecule/mediabox/molecule.yml
Due: test-playbook-mediabox

Drop Alpine in favor of Debian
  .gitlab/ci/build.yml
  ansible/tests/Dockerfile.host
Due: molecule-host-alpine

Provide correct reference to dind socket
  .gitlab/ci/test-docker.yml
Due: none

Install ssh-keygen on Molecule host
  ansible/tests/Dockerfile.host
Due: molecule-host-alpine

Load variables from new location
  ansible/tests/playbook-tests/molecule/lab/converge.yml
Due: test-playbook-lab

Record packages that were installed manually
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Use ping to detect that host is shut down
  ansible/shutdown.yml
Due: test-playbook-lab

Skip ansible-lint 5.0.* because the issue is not fixed yet
  ansible/tests/requirements.txt
Due: none

Automatically change directory without typing 'cd '
  dotfiles/bash/interactive
Due: none

Resolve local hostname via /etc/hosts
  ansible/roles/server/tasks/hostname.yml
  ansible/roles/server/tasks/main.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Rename hosts list to hosts.yml
  ansible/inventory/hosts.yml
Due: none

Increase default boot timeout to 2.5 minutes
  ansible/wakeup.yml
Due: test-playbook-lab

Refresh host facts after changing hostname
  ansible/roles/server/handlers/main.yml
  ansible/roles/server/tasks/hostname.yml
  ansible/roles/server/tasks/main.yml
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Send keepalive packets to keep connection active behind NAT
  ansible/roles/wireguard/README.md
  ansible/roles/wireguard/templates/client.conf
  ansible/roles/wireguard/templates/server.conf
Due: test-role-wireguard

Windows 10 requires modified domain definition
  ansible/roles/virtual_machine/templates/windows.xml.j2
Due: test-role-virtual_machine

Add Debian virtual machine for troubleshooting network issues
  ansible/labaie.yml
Due: test-playbook-lab

Create windows playground machine on labaie
  ansible/labaie.yml
Due: test-playbook-lab

Clean up labaie plays
  ansible/labaie.yml
Due: test-playbook-lab

Remove debian vm used for tests
  ansible/labaie.yml
Due: test-playbook-lab

Do not require root on localhost for ping
  ansible/shutdown.yml
Due: test-playbook-lab

Use valid Galaxy namespace instead of author name
  ansible/roles/canon_mf3010/meta/main.yml
  ansible/roles/control/meta/main.yml
  ansible/roles/gerbera/meta/main.yml
  ansible/roles/grub/meta/main.yml
  ansible/roles/initrd/meta/main.yml
  ansible/roles/kvm_bridge/meta/main.yml
  ansible/roles/morebooks/meta/main.yml
  ansible/roles/munin_fdcount/meta/main.yml
  ansible/roles/munin_master/meta/main.yml
  ansible/roles/munin_node/meta/main.yml
  ansible/roles/munin_smart/meta/main.yml
  ansible/roles/samba/meta/main.yml
  ansible/roles/server/meta/main.yml
  ansible/roles/sshkey/meta/main.yml
  ansible/roles/supysonic/meta/main.yml
  ansible/roles/torrents_sysctl/meta/main.yml
  ansible/roles/transmission/meta/main.yml
  ansible/roles/virtual_machine/meta/main.yml
Due: test-role-canon_mf3010, test-role-sshkey, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Do not lint files under molecule/ directory
  ansible/tests/molecule.yml
  ansible/tests/requirements.txt
Due: none

Do not call yamllint implicitly from ansible-lint
  ansible/tests/molecule.yml
Due: none

Wait longer for machine shutdown
  ansible/shutdown.yml
Due: test-playbook-lab

Install curl on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Install iotop on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Move initial config.toml into template
  ansible/roles/gitlab_runner/tasks/install.yml
  ansible/roles/gitlab_runner/templates/config-shell.toml
Due: test-role-gitlab_runner, test-playbook-control

Allow commandline arguments without value
  ansible/roles/gitlab_runner/templates/register-runners.sh
Due: test-role-gitlab_runner, test-playbook-control

Allow empty tag list
  ansible/roles/gitlab_runner/templates/register-runners.sh
Due: test-role-gitlab_runner, test-playbook-control

Use --param=value intead of --param value
  ansible/roles/gitlab_runner/templates/register-runners.sh
Due: test-role-gitlab_runner, test-playbook-control

Set number of concurrent jobs
  ansible/roles/gitlab_runner/defaults/main.yml
  ansible/roles/gitlab_runner/tasks/install.yml
Due: test-role-gitlab_runner, test-playbook-control

New role: GitLab CI runners fleet manager
  ansible/roles/ci_runners_manager/README.md
  ansible/roles/ci_runners_manager/defaults/main.yml
  ansible/roles/ci_runners_manager/handlers/main.yml
  ansible/roles/ci_runners_manager/tasks/assert.yml
  ansible/roles/ci_runners_manager/tasks/install.yml
  ansible/roles/ci_runners_manager/tasks/main.yml
  ansible/roles/ci_runners_manager/tasks/users.yml
  ansible/roles/ci_runners_manager/templates/environment.j2
Due: none

Add tests for new role: ci_runners_manager
  .gitlab/ci/test-docker.yml
  ansible/roles/ci_runners_manager/molecule/default/molecule.yml
  ansible/roles/ci_runners_manager/molecule/default/playbook.yml
  ansible/roles/ci_runners_manager/molecule/default/verify.yml
Due: none

Install git on fleet-manager node
  ansible/roles/ci_runners_manager/defaults/main.yml
Due: none

Fix filename spelling for service and timer files
  ansible/roles/ci_runners_manager/tasks/install.yml
Due: none

Clone repo into correct directory
  ansible/roles/ci_runners_manager/tasks/install.yml
Due: none

Load environment variables before executing Makefile
  ansible/roles/ci_runners_manager/molecule/default/verify.yml
Due: none

'pipefail' is not available in /bin/sh
  ansible/roles/ci_runners_manager/molecule/default/verify.yml
Due: none

Create playbook for ci-runners-manager machine
  ansible/ci-runners.yml
  ansible/inventory/hosts.yml
  ansible/inventory/variables.yml
Due: none

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
