Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-ci_runners_manager, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-ci_runners_manager: any of: ansible/roles/ci_runners_manager/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*

Test TFTP server with Molecule
  ansible/tests/playbook-tests/molecule/pxe/molecule.yml
  ansible/tests/playbook-tests/molecule/pxe/prepare.yml
  ansible/tests/playbook-tests/molecule/pxe/verify.yml
Due: none

Use import_role instead of older 'role:'
  ansible/pxe.yml
Due: none

Add debug output for role variables
  ansible/roles/docker_compose/tasks/main.yml
Due: none

Use dynamic imports to avoid messing up handers
  ansible/pxe.yml
Due: none

Speed up tests by skipping fact gathering
  ansible/tests/playbook-tests/molecule/pxe/prepare.yml
  ansible/tests/playbook-tests/molecule/pxe/verify.yml
Due: none

Automate docker daemon maintenance
  ansible/roles/docker_compose/handlers/main.yml
  ansible/roles/docker_compose/tasks/docker.yml
  ansible/roles/docker_compose/tasks/main.yml
  ansible/roles/docker_compose/templates/docker-cleanup.service
  ansible/roles/docker_compose/templates/docker-cleanup.timer
  ansible/roles/docker_compose/templates/docker.json
Due: none

Use correct delegate_to syntax
  ansible/tests/playbook-tests/molecule/pxe/verify.yml
Due: none

Increase tftp client verbosity
  ansible/tests/playbook-tests/molecule/pxe/verify.yml
Due: none

Tune TFTP checks: always show stdout, check file size
  ansible/tests/playbook-tests/molecule/pxe/verify.yml
Due: none

Download Memtest86+ to PXE server
  ansible/pxe.yml
Due: none

Install curl on PXE server
  ansible/pxe.yml
Due: none

Add laptopmini to hypervisor group
  ansible/inventory/hosts.yml
Due: none

Allow for hypervisor machines to be offline
  ansible/virtual-machines.yml
Due: none

Configure kvm_bridge on lab machines by default
  ansible/lab.yml
Due: test-playbook-lab

Provide extra params for kvm_bridge on test instance
  ansible/inventory/hosts.yml
  ansible/inventory/variables.yml
  ansible/tests/playbook-tests/molecule/lab/molecule.yml
Due: test-playbook-lab

Expicitly set wol_inteface to avoid idempotency failure
  ansible/tests/playbook-tests/molecule/lab/molecule.yml
Due: test-playbook-lab

Create systemctl_wait role
  ansible/roles/systemctl_wait/README.md
  ansible/roles/systemctl_wait/defaults/main.yml
  ansible/roles/systemctl_wait/handlers/main.yml
  ansible/roles/systemctl_wait/tasks/main.yml
  ansible/roles/systemctl_wait/templates/override.service
  ansible/roles/systemctl_wait/templates/systemctl-wait
Due: none

Configure Molecule to test new role: systemctl_wait
  ansible/roles/systemctl_wait/molecule/default/converge.yml
  ansible/roles/systemctl_wait/molecule/default/molecule.yml
  ansible/roles/systemctl_wait/molecule/default/prepare.yml
  ansible/roles/systemctl_wait/molecule/default/verify.yml
Due: none

Fix errors that made this role unrunnable
  ansible/roles/systemctl_wait/molecule/default/prepare.yml
  ansible/roles/systemctl_wait/tasks/main.yml
Due: none

Support waiting for multiple statuses
  ansible/roles/systemctl_wait/defaults/main.yml
  ansible/roles/systemctl_wait/tasks/main.yml
  ansible/roles/systemctl_wait/templates/override.service
Due: none

Reword log message for successful wait
  ansible/roles/systemctl_wait/templates/systemctl-wait
Due: none

Use After= to break waiting loops
  ansible/roles/systemctl_wait/defaults/main.yml
  ansible/roles/systemctl_wait/molecule/default/converge.yml
  ansible/roles/systemctl_wait/tasks/main.yml
Due: none

Move unattended-purge.yml to prepare step
  ansible/roles/systemctl_wait/molecule/default/converge.yml
  ansible/roles/systemctl_wait/molecule/default/prepare.yml
Due: none

Test services startup
  ansible/roles/systemctl_wait/molecule/default/verify.yml
  ansible/roles/systemctl_wait/templates/after.service
Due: none

Tweaks for avoiding test flakiness
  ansible/roles/systemctl_wait/molecule/default/converge.yml
  ansible/roles/systemctl_wait/molecule/default/verify.yml
Due: none

Use Libvirt instead of Docker to test this role
  ansible/roles/systemctl_wait/molecule/default/molecule.yml
  ansible/roles/systemctl_wait/molecule/default/verify.yml
Due: none

Enable CI for new role: systemctl_wait
  .gitlab/ci/test-kvm.yml
  ansible/README.md
Due: none

Add warning about circular dependencies
  ansible/roles/systemctl_wait/README.md
Due: none

Mention systemctl_role in TODO for backup playbook
  ansible/backup.yml
Due: none

Increase Tmux scrollback buffer size
  dotfiles/tmux/tmux.conf.link
Due: none

Verify equal distribution of prompt colors
  dotfiles/bash/prompt
Due: none

Enable fstrim.timer by default
  ansible/roles/server/tasks/fstrim.yml
  ansible/roles/server/tasks/main.yml
  ansible/roles/virtual_machine/templates/domain.xml.j2
  ansible/roles/virtual_machine/templates/windows.xml.j2
Due: test-role-gerbera, test-role-morebooks, test-role-samba, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Change default QEMU machine type to q35
  ansible/roles/virtual_machine/templates/domain.xml.j2
  ansible/roles/virtual_machine/templates/windows.xml.j2
Due: test-role-virtual_machine

Use sata bus for emulated CD-ROM
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Do not use -cloud kernel to test cloud-init VM
  ansible/roles/virtual_machine/molecule/cloudinit/converge.yml
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Add note about minimum required kernel version on guest
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Debian 10.11 and 11.1 were released
  packer/debian/Makefile
Due: none

Do not fetch Cirrus artifacts to GitLab CI
  .gitlab/ci/build.yml
Due: none

Check support status for installed packages
  ansible/roles/upgrade/defaults/main.yml
  ansible/roles/upgrade/tasks/main.yml
  ansible/roles/upgrade/tasks/support.yml
  ansible/roles/upgrade/tasks/upgrade.yml
  ansible/roles/upgrade/templates/support_info_to_yaml.awk
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Ignore support status for some packages on laptopmini
  ansible/inventory/variables.yml
Due: none
