Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian-testing, molecule-host-alpine, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian-11, molecule-guest-debian-11-systemd, test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-unattended, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_ACTION: debian-testing
    PACKER_TARGET: debian10
  script:
  - cirrus-run | tee build.log
  - export CIRRUS_ARTIFACTS_BUILD=$(grep -m 1 -Eo 'build/[0-9]+' build.log|cut -c 7-)
  ...

molecule-host-alpine:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian-11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11
  script:
  ...

molecule-guest-debian-11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-11-systemd
  script:
  ...

test-role-canary:
  stage: test-docker
  image: potyarkin/molecule:host
  services:
  - docker:dind
  script:
  - cd ansible/tests && make test
  cache:
    paths:
    - $CI_PROJECT_DIR/cache
    key:
      prefix: molecule-venv-v3
      files:
      - ansible/tests/requirements.txt
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/cache/pip
  ...

test-playbook-control:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: control

test-playbook-mediabox:
  stage: test-playbook
  variables:
    ANSIBLE_ROLE: playbook-tests
    MOLECULE_SCENARIO: mediabox

Consolidate repeated variables at group level
  ansible/inventory/variables.yml
Due: none

Install vlc on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Skip ansible-lint 5.0.3 due to upstream bug
  ansible/tests/Makefile
  ansible/tests/requirements.txt
Due: none

Fix requirements.txt syntax
  ansible/tests/requirements.txt
Due: none

Do not wait for the task to finish when restarting interface
  ansible/roles/kvm_bridge/handlers/main.yml
Due: test-role-kvm_bridge, test-role-virtual_machine

Enable colors on Makefile level instead of CI config
  .cirrus.yml.j2
  ansible/tests/Makefile
Due: none

Force inet static on test nodes
  ansible/roles/kvm_bridge/defaults/main.yml
  ansible/roles/kvm_bridge/molecule/default/playbook.yml
  ansible/roles/kvm_bridge/tasks/main.yml
Due: test-role-kvm_bridge, test-role-virtual_machine

Fix static address for VMs on test node
  ansible/roles/virtual_machine/molecule/default/playbook.yml
Due: test-role-virtual_machine

Install bc along with Tmux
  ansible/inventory/group_vars/all/packages.yml
Due: none

Install tree on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Do not use iptables-legacy on CI nodes
  .cirrus.yml.j2
Due: none

Add Pulumi v2.22.0
  ansible/roles/ci_runners_manager/defaults/main.yml
Due: none

Create a script for quick unregistering of all runners
  ansible/roles/gitlab_runner/defaults/main.yml
  ansible/roles/gitlab_runner/tasks/install.yml
  ansible/roles/gitlab_runner/templates/unregister-runners.sh
Due: test-role-gitlab_runner, test-playbook-control

Move bash_profile to dotfiles, it's not OS config
  ansible/laptopmini.yml
  dotfiles/bash/bash_profile.copy
Due: test-playbook-laptopmini

Silence linter errors on meta tasks
  ansible/roles/docker_compose/tasks/main.yml
  ansible/roles/kvm_bridge/tasks/main.yml
  ansible/roles/server/tasks/main.yml
  ansible/roles/smarttest/tasks/systemd.yml
  ansible/roles/wireguard/tasks/main.yml
  ansible/roles/wol/tasks/main.yml
  ansible/wakeup.yml
Due: test-role-smarttest, test-role-wol, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Increase shutdown timeout to 5 minutes (5*60)
  ansible/shutdown.yml
Due: test-playbook-lab

Check that cloudinit is actually working
  ansible/roles/virtual_machine/molecule/cloudinit/prepare.yml
  ansible/roles/virtual_machine/molecule/cloudinit/verify.yml
Due: test-role-virtual_machine

Passthrough random number generator from hypervisor
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Specify cdrom device name
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Add tests for cloudinit virtual machines
  .gitlab/ci/test-kvm.yml
  ansible/roles/virtual_machine/molecule/cloudinit/molecule.yml
  ansible/roles/virtual_machine/molecule/cloudinit/playbook.yml
  ansible/roles/virtual_machine/molecule/cloudinit/prepare.yml
  ansible/roles/virtual_machine/molecule/cloudinit/verify.yml
Due: test-role-virtual_machine

Create cloudinit configuration on ISO image
  ansible/roles/virtual_machine/defaults/main.yml
  ansible/roles/virtual_machine/tasks/assert.yml
  ansible/roles/virtual_machine/tasks/cloudinit.yml
  ansible/roles/virtual_machine/tasks/main.yml
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Randomize guest MAC based on hostnames of both host and guest
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Add serial console to VMs by default
  ansible/roles/virtual_machine/templates/domain.xml.j2
Due: test-role-virtual_machine

Grow initial disk image (optionally)
  ansible/roles/virtual_machine/defaults/main.yml
  ansible/roles/virtual_machine/molecule/default/playbook.yml
  ansible/roles/virtual_machine/tasks/main.yml
Due: test-role-virtual_machine

Gather facts on localhost too
  ansible/roles/virtual_machine/molecule/cloudinit/prepare.yml
Due: test-role-virtual_machine

Increase timeouts due to slow nested VMs on CI runner
  ansible/roles/virtual_machine/molecule/cloudinit/verify.yml
Due: test-role-virtual_machine

Configure static IP on test VMs
  ansible/roles/virtual_machine/molecule/cloudinit/prepare.yml
Due: test-role-virtual_machine

Rewrite guest IP address detection for Molecule tests
  ansible/roles/virtual_machine/molecule/cloudinit/playbook.yml
  ansible/roles/virtual_machine/molecule/cloudinit/prepare.yml
  ansible/roles/virtual_machine/molecule/cloudinit/verify.yml
Due: test-role-virtual_machine

Retry until VM gets an IP address
  ansible/roles/virtual_machine/molecule/cloudinit/verify.yml
Due: test-role-virtual_machine

Use smaller genericcloud images (222M vs 577M)
  ansible/roles/virtual_machine/molecule/cloudinit/playbook.yml
Due: test-role-virtual_machine

Wait for DHCP lease for guest VM to appear
  ansible/roles/virtual_machine/molecule/cloudinit/verify.yml
Due: test-role-virtual_machine

Use Jinja2 templating for cloudinit config files
  ansible/roles/virtual_machine/tasks/cloudinit.yml
Due: test-role-virtual_machine

Update apt package lists upon first boot
  ansible/roles/virtual_machine/molecule/cloudinit/prepare.yml
Due: test-role-virtual_machine

Rename Molecule playbook.yml to converge.yml
  ansible/roles/canary/molecule/default/converge.yml
  ansible/roles/canon_mf3010/molecule/default/converge.yml
  ansible/roles/ci_runners_manager/molecule/default/converge.yml
  ansible/roles/control/molecule/default/converge.yml
  ansible/roles/deb_url/molecule/default/converge.yml
  ansible/roles/docker_compose/molecule/default/converge.yml
  ansible/roles/gerbera/molecule/default/converge.yml
  ansible/roles/gitlab_runner/molecule/default/converge.yml
  ansible/roles/interactive/molecule/default/converge.yml
  ansible/roles/kvm_bridge/molecule/default/converge.yml
  ansible/roles/morebooks/molecule/default/converge.yml
  ansible/roles/motd/molecule/default/converge.yml
  ansible/roles/munin_fdcount/molecule/default/converge.yml
  ansible/roles/munin_master/molecule/default/converge.yml
  ansible/roles/munin_smart/molecule/default/converge.yml
  ansible/roles/packages/molecule/default/converge.yml
  ansible/roles/samba/molecule/default/converge.yml
  ansible/roles/server/molecule/default/converge.yml
  ansible/roles/smarttest/molecule/default/converge.yml
  ansible/roles/sshkey/molecule/default/converge.yml
  ansible/roles/supysonic/molecule/combination-munin/converge.yml
  ansible/roles/supysonic/molecule/default/converge.yml
  ansible/roles/torrents_sysctl/molecule/default/converge.yml
  ansible/roles/transmission/molecule/combination-deb_url/converge.yml
  ansible/roles/transmission/molecule/default/converge.yml
  ansible/roles/virtual_machine/molecule/cloudinit/converge.yml
  ansible/roles/virtual_machine/molecule/default/converge.yml
  ansible/roles/virtual_usb/molecule/default/converge.yml
  ansible/roles/wireguard/molecule/default/converge.yml
  ansible/roles/wol/molecule/default/converge.yml
Due: test-role-canary, test-role-canon_mf3010, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-smarttest, test-role-sshkey, test-role-wol, test-role-control, test-role-gerbera, test-role-morebooks, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-server, test-role-supysonic, test-role-supysonic-munin, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Change default TERM value for tmux
  dotfiles/tmux/tmux.conf.link
Due: none

Revert "Change default TERM value for tmux"
  dotfiles/tmux/tmux.conf.link
Due: none

Keep config backups when modifying them
  ansible/roles/nfs_server/tasks/nfs.yml
Due: none

Create nfs_cache role for local caches of NFS mounts
  ansible/roles/nfs_cache/README.md
  ansible/roles/nfs_cache/defaults/main.yml
  ansible/roles/nfs_cache/handlers/main.yml
  ansible/roles/nfs_cache/tasks/assert.yml
  ansible/roles/nfs_cache/tasks/main.yml
  ansible/roles/nfs_cache/tasks/nfs.yml
  ansible/roles/nfs_cache/tasks/packages.yml
  ansible/roles/nfs_cache/templates/cachefilesd.conf
Due: none

Add forgotten closing bracket
  ansible/roles/nfs_server/templates/exports.j2
Due: none

Add tests for nfs_server role
  .gitlab/ci/test-kvm.yml
  ansible/roles/nfs_cache/README.md
  ansible/roles/nfs_cache/defaults/main.yml
  ansible/roles/nfs_cache/handlers/main.yml
  ansible/roles/nfs_cache/tasks/main.yml
  ansible/roles/nfs_server/molecule/default/molecule.yml
  ansible/roles/nfs_server/molecule/default/playbook.yml
  ansible/roles/nfs_server/molecule/default/verify.yml
Due: none

Path conditions:
  packer-debian10: any of: packer/debian10/**/*
  packer-debian-testing: any of: packer/debian10/**/*
  molecule-host-alpine: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian-11: any of: ansible/tests/Dockerfile.debian-11
  molecule-guest-debian-11-systemd: any of: ansible/tests/Dockerfile.debian-11-systemd
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-sshkey: any of: ansible/roles/sshkey/**/*
  test-role-unattended: any of: ansible/roles/unattended/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-server: any of: ansible/roles/server/**/*
  test-role-supysonic: any of: ansible/roles/supysonic/**/*, ansible/roles/server/**/*
  test-role-supysonic-munin: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*, ansible/roles/supysonic/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*, packer/debian10/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
