Repository sio/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: packer-debian10, packer-debian11, packer-debian-testing, molecule-host-docker, molecule-host-kvm, molecule-guest-debian-10, molecule-guest-debian-10-systemd, molecule-guest-debian11, molecule-guest-debian11-systemd, molecule-guest-debian12, molecule-guest-debian12-systemd, test-role-aptrepo, test-role-borg_server, test-role-canary, test-role-canon_mf3010, test-role-cloudflare_tunnel, test-role-deb_url, test-role-gitlab_runner, test-role-interactive, test-role-motd, test-role-packages, test-role-restic, test-role-saned, test-role-smarttest, test-role-wol, test-role-borg_client, test-role-control, test-role-docker_compose, test-role-gerbera, test-role-morebooks, test-role-nftables, test-role-samba, test-role-kvm_bridge, test-role-munin_fdcount, test-role-munin_smart, test-role-munin_master, test-role-nfs_cache, test-role-nfs_server, test-role-server, test-role-sshkey, test-role-systemctl_wait, test-role-torrents_sysctl, test-role-transmission, test-role-transmission-deb_url, test-role-virtual_machine, test-role-virtual_machine_cloudinit, test-role-virtual_usb, test-role-wireguard, test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

packer-debian10:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian10
  dependencies: []

packer-debian11:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian11
  dependencies: []

packer-debian-testing:
  stage: build
  variables:
    CIRRUS_CONFIG: packer/cirrus.yml.j2
    VM_HOSTNAME: guest
    VM_PASSWORD: hello
    PACKER_TARGET: debian
    PACKER_ACTION: debian-testing
  dependencies: []

molecule-host-docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host
    CI_REGISTRY_IMAGE: potyarkin/molecule:host
  script:
  ...

molecule-host-kvm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.host-kvm
    CI_REGISTRY_IMAGE: potyarkin/molecule:host-kvm
  script:
  ...

molecule-guest-debian-10:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10
  script:
  ...

molecule-guest-debian-10-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian-10-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian-10-systemd
  script:
  ...

molecule-guest-debian11:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian11
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian11
  script:
  ...

molecule-guest-debian11-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian11-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian11-systemd
  script:
  ...

molecule-guest-debian12:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian12
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian12
  script:
  ...

molecule-guest-debian12-systemd:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    CI_REGISTRY_USER: potyarkin
    CI_REGISTRY: docker.io
    DOCKERFILE: ansible/tests/Dockerfile.debian12-systemd
    CI_REGISTRY_IMAGE: potyarkin/molecule:debian12-systemd
  script:
  ...

Pin version of ansible-compat in Molecule environment
  ansible/tests/requirements.txt
Due: none

Force apt update at the beginning of test run
  ansible/roles/nftables/molecule/default/prepare.yml
Due: test-role-nftables

Increase compute resources for borg_client tests
  .cirrus.yml.j2
  .gitlab/ci/test-kvm.yml
Due: none

Allow changing upgrade timeout
  ansible/inventory/variables.yml
  ansible/roles/upgrade/tasks/upgrade.yml
Due: test-playbook-control, test-playbook-mediabox, test-playbook-lab, test-playbook-printer, test-playbook-laptopmini

Do not install nvidia-driver on laptopmini
  ansible/laptopmini.yml
Due: test-playbook-laptopmini

Use bash strict mode for register scripts
  ansible/roles/gitlab_runner/templates/register-runners.sh
  ansible/roles/gitlab_runner/templates/unregister-runners.sh
Due: test-role-gitlab_runner, test-playbook-control

Ignore unregister errors when registering a runner
  ansible/roles/gitlab_runner/templates/register-runners.sh
Due: test-role-gitlab_runner, test-playbook-control

Automatically register runner upon service restart
  ansible/roles/gitlab_runner/handlers/main.yml
  ansible/roles/gitlab_runner/tasks/install.yml
Due: test-role-gitlab_runner, test-playbook-control

Do not jump cursor when at the end of whitespace line
  dotfiles/vim/vim/config/potyarkin.vim.link
Due: none

Add dotfiles for sqlite3
  dotfiles/sqlite3/README.md
  dotfiles/sqlite3/sqliterc.link
  dotfiles/topics-cli.list
Due: none

Install more tools on remote workstation
  terraform/playground/setup.sh
Due: none

Add GNU libc to playground machine
  terraform/playground/setup.sh
Due: none

Change domain name to potyarkin.com
  ansible/README.md
  ansible/mediabox-v.yml
  ansible/tests/playbook-tests/molecule/mediabox-v/prepare.yml
  dotfiles/README.md
Due: none

Add packages to remote workstation
  terraform/playground/setup.sh
Due: none

Take all lab hosts offline
  ansible/inventory/hosts.yml
Due: none

Change domain name to morebooks.potyarkin.com
  TOC.md
  ansible/morebooks.yml
  ansible/roles/morebooks/defaults/main.yml
  ansible/roles/morebooks/molecule/default/verify.yml
  ansible/roles/morebooks/tasks/selfsigned.yml
  dotfiles/morebooks-backup/README.md
Due: test-role-morebooks

Disable supysonic on mediabox-v
  ansible/mediabox-v.yml
Due: none

Enable double-star globs: ./**.go
  dotfiles/bash/interactive
Due: none

Set tab width to 4 spaces in less and in git diff
  dotfiles/bash/env
  dotfiles/git/gitconfig.link
Due: none

Fix ping flags (-w to -W)
  ansible/roles/borg_client/molecule/default/verify.yml
  ansible/roles/canary/templates/canary.sh
  ansible/shutdown.yml
  ansible/tests/playbook-tests/molecule/vpn-family/verify.yml
Due: test-role-canary, test-role-borg_client, test-playbook-mediabox, test-playbook-lab

Restart preempted workstation instance
  terraform/playground/preempted.tf
Due: none

Fix error when deploying infra from clean slate
  terraform/playground/preempted.tf
Due: none

Add default flags for diff command
  dotfiles/bash/aliases
Due: none

Populate filetype with file extension if everything else fails
  dotfiles/vim/vim/config/filetypes.vim.link
Due: none

Use Haskell syntax highlighter for Purescript files
  dotfiles/vim/vim/config/filetypes.vim.link
Due: none

Use narrow indentation in Haskell
  dotfiles/vim/vim/config/filetypes.vim.link
Due: none

Add helper functions for PDF manipulations
  dotfiles/bash/aliases
Due: none

Consistently use short command for 'set'
  dotfiles/tmux/tmux.conf.link
Due: none

Customize tmux style a little
  dotfiles/tmux/tmux.conf.link
Due: none

Backport configuration to tmux 3.1
  dotfiles/tmux/tmux.conf.link
Due: none

Change tmux colors to amber/grey from green/grey
  dotfiles/tmux/tmux.conf.link
Due: none

Use 256color palette in tmux
  dotfiles/bash/colors/colortable.sh
  dotfiles/tmux/tmux.conf.link
Due: none

Add qemu to cloud workstation
  terraform/playground/setup.sh
Due: none

Add keyboard shortcuts to make tmux panes read-only
  dotfiles/tmux/tmux.conf.link
Due: none

Execute command for all files with a given name
  dotfiles/bash/aliases
Due: none

Upgrade to go 1.22.2
  terraform/playground/setup.sh
Due: none

Use human readable value for ssh-agent timeout
  dotfiles/bash/aliases
Due: none

git-identity: Add visual separation between retries
  dotfiles/bash/aliases
Due: none

Add shared cloud storage directory to SMB
  ansible/hypervisor-j.yml
Due: none

Path conditions:
  packer-debian10: any of: packer/debian/**/*
  packer-debian11: any of: packer/debian/**/*
  packer-debian-testing: any of: packer/debian/**/*
  molecule-host-docker: any of: ansible/tests/Dockerfile.host
  molecule-host-kvm: any of: ansible/tests/Dockerfile.host-kvm
  molecule-guest-debian-10: any of: ansible/tests/Dockerfile.debian-10
  molecule-guest-debian-10-systemd: any of: ansible/tests/Dockerfile.debian-10-systemd
  molecule-guest-debian11: any of: ansible/tests/Dockerfile.debian11
  molecule-guest-debian11-systemd: any of: ansible/tests/Dockerfile.debian11-systemd
  molecule-guest-debian12: any of: ansible/tests/Dockerfile.debian12
  molecule-guest-debian12-systemd: any of: ansible/tests/Dockerfile.debian12-systemd
  test-role-aptrepo: any of: ansible/roles/aptrepo/**/*
  test-role-borg_server: any of: ansible/roles/borg_server/**/*
  test-role-canary: any of: ansible/roles/canary/**/*
  test-role-canon_mf3010: any of: ansible/roles/canon_mf3010/**/*
  test-role-cloudflare_tunnel: any of: ansible/roles/cloudflare_tunnel/**/*
  test-role-deb_url: any of: ansible/roles/deb_url/**/*
  test-role-gitlab_runner: any of: ansible/roles/gitlab_runner/**/*, ansible/roles/aptrepo/**/*
  test-role-interactive: any of: ansible/roles/interactive/**/*
  test-role-motd: any of: ansible/roles/motd/**/*
  test-role-packages: any of: ansible/roles/packages/**/*
  test-role-restic: any of: ansible/roles/restic/**/*
  test-role-saned: any of: ansible/roles/saned/**/*
  test-role-smarttest: any of: ansible/roles/smarttest/**/*
  test-role-wol: any of: ansible/roles/wol/**/*
  test-role-borg_client: any of: ansible/roles/borg_client/**/*, ansible/roles/borg_server/**/*
  test-role-control: any of: ansible/roles/control/**/*
  test-role-docker_compose: any of: ansible/roles/docker_compose/**/*
  test-role-gerbera: any of: ansible/roles/gerbera/**/*, ansible/roles/server/**/*
  test-role-morebooks: any of: ansible/roles/morebooks/**/*, ansible/roles/server/**/*
  test-role-nftables: any of: ansible/roles/nftables/**/*
  test-role-samba: any of: ansible/roles/samba/**/*, ansible/roles/server/**/*
  test-role-kvm_bridge: any of: ansible/roles/kvm_bridge/**/*
  test-role-munin_fdcount: any of: ansible/roles/munin_fdcount/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_smart: any of: ansible/roles/munin_smart/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-munin_master: any of: ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/server/**/*
  test-role-nfs_cache: any of: ansible/roles/nfs_cache/**/*, ansible/tasks/unattended-purge.yml
  test-role-nfs_server: any of: ansible/roles/nfs_server/**/*, ansible/tasks/unattended-purge.yml
  test-role-server: any of: ansible/roles/server/**/*, ansible/tasks/unattended-purge.yml
  test-role-sshkey: any of: ansible/roles/server/**/*, ansible/roles/sshkey/**/*
  test-role-systemctl_wait: any of: ansible/roles/systemctl_wait/**/*
  test-role-torrents_sysctl: any of: ansible/roles/torrents_sysctl/**/*
  test-role-transmission: any of: ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-transmission-deb_url: any of: ansible/roles/deb_url/**/*, ansible/roles/server/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*
  test-role-virtual_machine: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_machine_cloudinit: any of: ansible/roles/kvm_bridge/**/*, ansible/roles/virtual_machine/**/*
  test-role-virtual_usb: any of: ansible/roles/virtual_usb/**/*
  test-role-wireguard: any of: ansible/roles/wireguard/**/*
  test-playbook-control: any of: ansible/control.yml, ansible/tests/playbook-tests/molecule/control/**/*, ansible/roles/control/**/*, ansible/roles/gitlab_runner/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/server/**/*, ansible/roles/sshkey/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-mediabox: any of: ansible/mediabox.yml, ansible/tests/playbook-tests/molecule/mediabox/**/*, ansible/roles/canary/**/*, ansible/roles/deb_url/**/*, ansible/roles/gerbera/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_fdcount/**/*, ansible/roles/munin_master/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/samba/**/*, ansible/roles/sshkey/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/supysonic/**/*, ansible/roles/torrents_sysctl/**/*, ansible/roles/transmission/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-lab: any of: ansible/lab*.yml, ansible/wakeup.yml, ansible/shutdown.yml, ansible/tests/playbook-tests/molecule/lab/**/*, ansible/roles/canary/**/*, ansible/roles/interactive/**/*, ansible/roles/motd/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*, ansible/roles/wol/**/*
  test-playbook-printer: any of: ansible/printer.yml, ansible/tests/playbook-tests/molecule/printer/**/*, ansible/roles/canon_mf3010/**/*, ansible/roles/motd/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/unattended/**/*, ansible/roles/upgrade/**/*
  test-playbook-laptopmini: any of: ansible/laptopmini.yml, ansible/tests/playbook-tests/molecule/laptopmini/**/*, ansible/roles/grub/**/*, ansible/roles/initrd/**/*, ansible/roles/interactive/**/*, ansible/roles/munin_node/**/*, ansible/roles/munin_smart/**/*, ansible/roles/packages/**/*, ansible/roles/server/**/*, ansible/roles/smarttest/**/*, ansible/roles/sshkey/**/*, ansible/roles/upgrade/**/*
